<?xml version="1.0" encoding="UTF-8"?>
<!--
SEEK
Copyright (C) 2025 placelink

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.

=========================================================================

상업적 이용 또는 AGPL-3.0의 공개 의무를 면제받기
위해서는, placelink로부터 별도의 상업용 라이선스(Commercial License)를 구매해야 합니다.
For commercial use or to obtain an exemption from the AGPL-3.0 license
requirements, please purchase a commercial license from placelink.
*** 문의처: help@placelink.shop (README.md 참조)
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.placelink.seek.analysis.service.AnalysisErrorMapper">

    <insert id="insertAnalysisError" parameterType="analysisErrorVO">
		/** insertAnalysisError : 분석 오류 정보를 등록한다. */
        <selectKey keyProperty="analysisErrorSn" resultType="integer" order="BEFORE">
			SELECT COALESCE(MAX(ANALYSIS_ERROR_SN), 0) + 1 AS ANALYSIS_ERROR_SN
			FROM SEEK_ANALYSIS_ERROR
			WHERE ANALYSIS_ID = #{analysisId}
        </selectKey>
		INSERT INTO SEEK_ANALYSIS_ERROR (
			ANALYSIS_ID,
			ANALYSIS_ERROR_SN,
			ANALYSIS_DATA,
			ERROR_MESSAGE,
			EXCLUSION_DT,
			CREATE_DT
		) VALUES (
			#{analysisId},
			#{analysisErrorSn},
			#{analysisData},
			#{errorMessage},
			NULL,
			NOW()
		)
    </insert>

    <update id="updateAnalysisErrorExclusion">
		/** updateAnalysisErrorExclusion : 분석 오류를 배제 처리한다. */
		UPDATE SEEK_ANALYSIS_ERROR
		SET EXCLUSION_DT = NOW()
		WHERE ANALYSIS_ID = #{analysisId}
			AND EXCLUSION_DT IS NULL
    </update>

    <update id="updateAnalysisStatusToError">
		/** updateAnalysisStatusToError : 분석 상태를 오류 처리한다. */
		UPDATE SEEK_ANALYSIS
		SET
            ANALYSIS_STATUS_CCD = 'ERROR',
			ANALYSIS_END_DT = NOW(),
			MODIFY_DT = NOW()
		WHERE ANALYSIS_ID = #{analysisId}
    </update>

</mapper>
