<?xml version="1.0" encoding="UTF-8"?>
<!--
SEEK
Copyright (C) 2025 placelink

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.

=========================================================================

상업적 이용 또는 AGPL-3.0의 공개 의무를 면제받기
위해서는, placelink로부터 별도의 상업용 라이선스(Commercial License)를 구매해야 합니다.
For commercial use or to obtain an exemption from the AGPL-3.0 license
requirements, please purchase a commercial license from placelink.
*** 문의처: help@placelink.shop (README.md 참조)
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.placelink.seek.analysis.service.FileOutboundHistMapper">

    <insert id="insertFileOutboundHist" parameterType="fileOutboundHistVO">
		/** insertFileOutboundHist : 파일 외부전송 이력 정보를 등록한다. */
        INSERT INTO SEEK_FILE_OUTBOUND_HIST (
            OUTBOUND_STATUS_CCD,
            OUTBOUND_CHANNEL_CCD,
            OUTBOUND_REASON_CCD,
            USER_ID,
            CLIENT_IP,
            ANALYSIS_ID,
            FILE_NM,
            ORG_CD,
            MAC_ADDR,
            DEST_HOST,
            TOTAL_FILE_COUNT,
            TOTAL_FILE_SIZE,
            FILE_EXTENSION_STATUS_CCD,
            EVENT_DT,
            CREATE_DT
        ) VALUES (
            #{outboundStatusCcd},
            #{outboundChannelCcd},
            #{outboundReasonCcd},
            #{userId},
            #{clientIp},
            #{analysisId},
            #{fileNm},
            #{orgCd},
            #{macAddr},
            #{destHost},
            #{totalFileCount},
            #{totalFileSize},
            #{fileExtensionStatusCcd},
            #{eventDt},
            NOW()
        )
    </insert>

    <sql id="sqlFileOutboundHist">
        WITH OUTBOUND_HIST AS (
            SELECT
                sfoh.OUTBOUND_ID,
                sfoh.OUTBOUND_STATUS_CCD,
                sfoh.OUTBOUND_CHANNEL_CCD,
                sfoh.OUTBOUND_REASON_CCD,
                sfoh.USER_ID,
                sfoh.CLIENT_IP,
                sfoh.FILE_NM,
                sfoh.ORG_CD,
                sfoh.MAC_ADDR,
                sfoh.DEST_HOST,
                COALESCE(sfoh.TOTAL_FILE_COUNT, 0) AS TOTAL_FILE_COUNT,
                COALESCE(sfoh.TOTAL_FILE_SIZE, 0) AS TOTAL_FILE_SIZE,
                sfoh.FILE_EXTENSION_STATUS_CCD,
                sfoh.EVENT_DT,
                CASE
                    /* NORMAL 조건: 09:00 ~ 18:00 이면서 평일(월~금)인 경우 */
                    WHEN sfoh.EVENT_DT::TIME >= '09:00:00'
                        AND '18:00:00' >= sfoh.EVENT_DT::TIME
                        /* 평일(월요일=1, 금요일=5) 조건 추가 */
                        AND EXTRACT(DOW FROM sfoh.EVENT_DT) BETWEEN 1 AND 5
                    THEN 'NORMAL'
                    /* 그 외 (야간 또는 주말) */
                    ELSE 'ABNORMAL'
                END AS WORKING_HOUR_STATUS_CCD,
                sfoh.CREATE_DT
            FROM SEEK_FILE_OUTBOUND_HIST sfoh
            <where>
                <if test='searchOutboundStatusCcd neq null and searchOutboundStatusCcd neq ""'>
                    AND sfoh.OUTBOUND_STATUS_CCD = #{searchOutboundStatusCcd}
                </if>
                <if test='searchStartLocalDate neq null'>
                    AND sfoh.EVENT_DT >= #{searchStartLocalDate}
                </if>
                <if test='searchEndLocalDate neq null'>
                    AND #{searchEndLocalDateExclusive} > sfoh.EVENT_DT
                </if>
                <if test='searchFileExtensionStatusCcd neq null and searchFileExtensionStatusCcd neq ""'>
                    AND sfoh.FILE_EXTENSION_STATUS_CCD = #{searchFileExtensionStatusCcd}
                </if>
            </where>
        )
        SELECT
            oh.*,
            CASE
                WHEN 5 > oh.TOTAL_FILE_COUNT AND oh.WORKING_HOUR_STATUS_CCD = 'NORMAL' THEN 'normal'
                WHEN oh.TOTAL_FILE_COUNT >= 5 OR oh.WORKING_HOUR_STATUS_CCD = 'ABNORMAL' THEN 'inspect'
                ELSE 'warning'
            END AS DETECTION_CONDITION_LEVEL
        FROM OUTBOUND_HIST oh
    </sql>

    <select id="selectFileOutboundHistListStatus" parameterType="schFileOutboundHistVO" resultType="fileOutboundHistVO">
        /** selectFileOutboundHistListStatus : 파일 외부전송 이력 목록 현황을 조회한다. */
        SELECT
            COUNT(1) AS ACTION_COUNT,
            COALESCE(SUM(foh.TOTAL_FILE_COUNT), 0) AS TOTAL_FILE_COUNT,
            COALESCE(SUM(foh.TOTAL_FILE_SIZE), 0) AS TOTAL_FILE_SIZE,
            COALESCE(SUM(CASE WHEN foh.DETECTION_CONDITION_LEVEL = 'normal' THEN 1 ELSE 0 END), 0) AS NORMAL_COUNT,
            COALESCE(SUM(CASE WHEN foh.DETECTION_CONDITION_LEVEL = 'inspect' THEN 1 ELSE 0 END), 0) AS INSPECT_COUNT,
            COALESCE(SUM(CASE WHEN foh.DETECTION_CONDITION_LEVEL = 'warning' THEN 1 ELSE 0 END), 0) AS WARNING_COUNT,
            COALESCE(SUM(CASE WHEN foh.OUTBOUND_CHANNEL_CCD = 'https' THEN 1 ELSE 0 END), 0) AS CHANNEL_HTTPS_COUNT,
            COALESCE(SUM(CASE WHEN foh.OUTBOUND_CHANNEL_CCD = 'usb' THEN 1 ELSE 0 END), 0) AS CHANNEL_USB_COUNT,
            COALESCE(SUM(CASE WHEN foh.OUTBOUND_CHANNEL_CCD = 'messenger' THEN 1 ELSE 0 END), 0) AS CHANNEL_MESSENGER_COUNT,
            COALESCE(SUM(CASE WHEN foh.OUTBOUND_CHANNEL_CCD = 'print' THEN 1 ELSE 0 END), 0) AS CHANNEL_PRINT_COUNT
        FROM (
            <include refid="sqlFileOutboundHist"/>
        ) foh
    </select>

    <sql id="sqlFileOutboundHistList">
        SELECT
            <choose>
                <when test='searchGroupingType neq null and searchGroupingType eq "channel"'>
                    foh.OUTBOUND_CHANNEL_CCD,
                </when>
                <otherwise>
                    foh.USER_ID,
                </otherwise>
            </choose>
            COUNT(1) AS ACTION_COUNT,
            COALESCE(SUM(CASE WHEN foh.WORKING_HOUR_STATUS_CCD = 'NORMAL' THEN 1 ELSE 0 END), 0) AS WORKING_HOUR_STATUS_NORMAL_COUNT,
            COALESCE(SUM(CASE WHEN foh.WORKING_HOUR_STATUS_CCD = 'ABNORMAL' THEN 1 ELSE 0 END), 0) AS WORKING_HOUR_STATUS_ABNORMAL_COUNT,
            COALESCE(SUM(COALESCE(foh.TOTAL_FILE_COUNT, 0)), 0) AS TOTAL_FILE_COUNT,
            COALESCE(SUM(COALESCE(foh.TOTAL_FILE_SIZE, 0)), 0) AS TOTAL_FILE_SIZE,
            MAX(foh.EVENT_DT) AS LAST_EVENT_DT
        FROM (
            <include refid="sqlFileOutboundHist"/>
        ) foh
        GROUP BY
            <choose>
                <when test='searchGroupingType neq null and searchGroupingType eq "channel"'>
                    foh.OUTBOUND_CHANNEL_CCD
                </when>
                <otherwise>
                    foh.USER_ID
                </otherwise>
            </choose>
    </sql>

    <select id="selectFileOutboundHistList" parameterType="schFileOutboundHistVO" resultType="fileOutboundHistVO">
        /** selectFileOutboundHistList : 파일 외부전송 이력 목록을 조회한다. */
        <include refid="common.sql.paging_header"/>
        <include refid="sqlFileOutboundHistList"/>
        <include refid="common.sql.paging_footer"/>
    </select>

    <select id="selectFileOutboundHistListCount" parameterType="schFileOutboundHistVO" resultType="integer">
        /** selectFileOutboundHistListCount : 파일 외부전송 이력 목록 개수를 조회한다. */
        SELECT COUNT(1)
        FROM (
            <include refid="sqlFileOutboundHistList"/>
        )
    </select>

</mapper>
