<?xml version="1.0" encoding="UTF-8"?>
<!--
SEEK
Copyright (C) 2025 placelink

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.placelink.seek.analysis.service.MaskHistMapper">

    <insert id="insertMaskHist">
		/** insertMaskHist : 마스크 이력을 등록한다. */
        INSERT INTO SEEK_MASK_HIST (
            REQUEST_ID,
            ANALYSIS_MODE_CCD,
            MASK_MODE_CCD,
            MASK_COUNT,
            CREATE_DT
        ) VALUES (
            #{requestId},
            #{analysisModeCcd},
            #{maskModeCcd},
            #{maskCount},
            NOW()
        )
    </insert>

    <select id="selectMaskStatus" resultType="maskHistVO">
        /** selectMaskStatus : 마스크 현황을 조회한다. */
        SELECT
            MASK_MODE_CCD,
            SUM(COALESCE(MASK_COUNT, 0)) AS MASK_COUNT
        FROM SEEK_MASK_HIST
        <where>
            <if test='schDe != null and schDe != ""'>
                AND (CREATE_DT >= #{schDe}::DATE AND (#{schDe}::DATE + INTERVAL '1 DAY') > CREATE_DT)
            </if>
        </where>
        GROUP BY MASK_MODE_CCD
    </select>

</mapper>
