<?xml version="1.0" encoding="UTF-8"?>
<!--
SEEK
Copyright (C) 2025 placelink

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.

=========================================================================

상업적 이용 또는 AGPL-3.0의 공개 의무를 면제받기
위해서는, placelink로부터 별도의 상업용 라이선스(Commercial License)를 구매해야 합니다.
For commercial use or to obtain an exemption from the AGPL-3.0 license
requirements, please purchase a commercial license from placelink.
*** 문의처: help@placelink.shop (README.md 참조)
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.placelink.seek.analysis.service.SensitiveInformationMapper">

    <sql id="sqlSensitiveInformation">
		SELECT
			si.SENSITIVE_INFORMATION_ID,
			si.TARGET_TEXT,
			si.ESCAPE_TEXT,
			si.HIT_COUNT,
			si.SEVERITY_CCD,
			cc1.COM_CD_NM AS SEVERITY_CCD_NM,
			si.CREATE_DT,
			si.MODIFY_DT
		FROM SEEK_SENSITIVE_INFORMATION si
			LEFT JOIN SEEK_COM_CD cc1
				ON si.SEVERITY_CCD = cc1.COM_CD
				AND cc1.GROUP_CD = 'SEVERITY_CCD'
        <where>
            <if test='schSensitiveInformationId neq null and schSensitiveInformationId neq ""'>
				AND si.SENSITIVE_INFORMATION_ID = #{schSensitiveInformationId}
            </if>
            <if test='schSensitiveInformationIdList neq null and schSensitiveInformationIdList.size > 0'>
				AND si.SENSITIVE_INFORMATION_ID IN
                <foreach collection="schSensitiveInformationIdList" item="schId" open="(" separator="," close=")">
						#{schId}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="selectSensitiveInformationList" parameterType="schSensitiveInformationVO" resultType="sensitiveInformationVO">
		/** selectSensitiveInformationList : 민감 정보 목록을 조회한다. */
        <include refid="common.sql.paging_header"/>
        <include refid="sqlSensitiveInformation"/>
        <include refid="common.sql.paging_footer"/>
    </select>

    <select id="selectSensitiveInformationListCount" parameterType="schSensitiveInformationVO" resultType="integer">
		/** selectSensitiveInformationListCount : 민감 정보 목록 개수를 조회한다. */
		SELECT COUNT(*)
		FROM (
        <include refid="sqlSensitiveInformation"/>
		)
    </select>

    <select id="selectSensitiveInformation" parameterType="string" resultType="sensitiveInformationVO">
		/** selectSensitiveInformation : 민감 정보를 조회한다. */
		SELECT COUNT(*)
		FROM (
        <include refid="sqlSensitiveInformation"/>
		)
    </select>

    <insert id="insertSensitiveInformationList">
		/** insertSensitiveInformationList : 민감 정보 목록을 등록한다. */
		INSERT INTO SEEK_SENSITIVE_INFORMATION AS target (
			SENSITIVE_INFORMATION_ID,
			TARGET_TEXT,
			ESCAPE_TEXT,
			HIT_COUNT,
			SEVERITY_CCD,
			CREATE_DT,
			MODIFY_DT
		) VALUES
        <foreach collection="sensitiveInformationList" item="item" separator=",">
			(
				#{item.sensitiveInformationId},
				#{item.targetText},
				#{item.escapeText},
				#{item.hitCount},
				#{item.severityCcd},
                NOW(),
                NOW()
			)
        </foreach>
		ON CONFLICT (SENSITIVE_INFORMATION_ID)
		DO UPDATE SET
			TARGET_TEXT = EXCLUDED.TARGET_TEXT,
			ESCAPE_TEXT = EXCLUDED.ESCAPE_TEXT,
			HIT_COUNT = target.HIT_COUNT + EXCLUDED.HIT_COUNT,
			SEVERITY_CCD = EXCLUDED.SEVERITY_CCD,
			MODIFY_DT = NOW()
    </insert>

    <insert id="insertSensitiveInformationMappingList">
		/** insertSensitiveInformationMappingList : 민감 정보 매핑 목록을 등록한다. */
		INSERT INTO SEEK_SENSITIVE_INFORMATION_MAPPING (
			ANALYSIS_RESULT_ID,
			SENSITIVE_INFORMATION_ID
		) VALUES
        <foreach collection="sensitiveInformationList" item="item" separator=",">
			(
				#{analysisResultId},
				#{item.sensitiveInformationId}
			)
        </foreach>
        ON CONFLICT (ANALYSIS_RESULT_ID, SENSITIVE_INFORMATION_ID)
		DO NOTHING
    </insert>

    <insert id="insertSensitiveInformationTypeList">
		/** insertSensitiveInformationTypeList : 민감 정보 유형 목록을 등록한다. */
		INSERT INTO SEEK_SENSITIVE_INFORMATION_TYPES (
			SENSITIVE_INFORMATION_ID,
			DETECTION_TYPE_CCD
		) VALUES
        <foreach collection="sensitiveInformationTypeList" item="item" separator=",">
			(
				#{item.sensitiveInformationId},
				#{item.detectionTypeCcd}
			)
        </foreach>
		ON CONFLICT (SENSITIVE_INFORMATION_ID, DETECTION_TYPE_CCD)
		DO NOTHING
    </insert>

</mapper>
