<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {

            setInterval(printCurrentTime, 1000);

        });

        function printCurrentTime() {
            const now = new Date();

            const year = now.getFullYear();      // 연도 (예: 2025)
            const month = now.getMonth() + 1;    // 월 (0~11이므로 +1, 예: 4)
            const date = now.getDate();          // 일 (예: 28)
            const hour = now.getHours();         // 시 (0~23, 예: 14)
            const minute = now.getMinutes();     // 분 (0~59)
            const second = now.getSeconds();     // 초 (0~59)

            const pad = n => String(n).padStart(2, '0');

            $('.todayTxt').text(`${year}/${pad(month)}/${pad(date)} ${pad(hour)}:${pad(minute)}:${pad(second)}`);
        }

    </script>
    <div class="header-wrap">
        <div class="header-box1">
            <a href="#" class="top-logo">
                <img id="logo" src="../images/SEEK_logo.png" alt="SEEK-logo"/>
            </a>
            <div class="ma-l50">
                <div class="custom-select">
                    <select class="select-site">
                        <option value="aicas">아이카스</option>
                        <option value="goono">구노</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="header-box2">
            <div class="notice-box">
                <div class="flex-sty01">
                    <div class="bar"></div>
                    <div class="back1"></div>
                    <div class="contents"><span class="text-bold">AICAS</span>&nbsp;<span>-</span>&nbsp;<span>민감정보 800건 검출 증가</span></div>
                </div>
                <div>
                    <div class="icon-move"></div>
                </div>
            </div>
        </div>
        <div class="header-box3">
            <span class="date todayTxt"></span>
        </div>
    </div>
</th:block>
</html>