<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <script type="text/javascript">
    </script>
    <div class="header-box1">
        <div class="header-wrap">
            <a href="/" class="top-logo">
                <img id="logo" src="../images/SEEK_logo.png" alt="SEEK-logo"/>
            </a>
            <nav class="top-nav">
                <ul>
                    <li class="active"><a href="public/sample/test.html">Sample</a></li>
                </ul>
            </nav>
        </div>
        <!--
        <div class="login-info">
            <div class="profile">
                <div class="profile-img"><img src="../images/user_icon.png" alt="SEEK-logo"/></div>
                <div class="profile-name"><span>사용자</span>님</div>
                <div class="profile-btn">
                    <div class="icon-drop"></div>
                </div>
            </div>
            <div class="login-box">
                <button class="btn-logout">로그아웃</button>
            </div>
        </div>
        -->
    </div>
</th:block>
</html>