<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="sidebarFragment">
        <script type="text/javascript"></script>
        <div class="sidebar-wrap">
            <nav class="sidebar-nav">
                <ul>
                    <li class="sidebar-menu menu1" th:classappend="${SERVLET_PATH.startsWith('/dashboard/file')} ? 'active'"><a href="/dashboard/file"></a></li>
                    <li class="sidebar-menu menu2" th:classappend="${SERVLET_PATH == '/analysis/detection-file-list'} ? 'active'"><a href="/analysis/detection-file-list"></a></li>
                    <li class="sidebar-menu menu3" th:classappend="${SERVLET_PATH == '/sample/test'} ? 'active'"><a href="/sample/test"></a></li>
                    <li class="sidebar-menu menu4"><a href="#"></a></li>
                    <li class="sidebar-menu menu5"><a href="#"></a></li>
                    <li class="sidebar-menu menu6"><a href="#"></a></li>
                    <li class="sidebar-menu menu7"><a href="#"></a></li>
                    <li class="sidebar-menu menu8"><a href="#"></a></li>
                    <li class="sidebar-menu menu9"><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </th:block>
</html>
