<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="sidebarFragment">
        <script type="text/javascript"></script>
        <div class="sidebar-wrap">
            <nav class="sidebar-nav">
                <ul>
                    <li class="sidebar-menu MENU1"><a href="#"></a></li>
                    <li class="sidebar-menu ALL_STATUS"><a href="#"></a></li>
                    <li class="sidebar-menu active SITE_STATUS"><a href="/public/dashboard/sample"></a></li>
                    <li class="sidebar-menu MENU4"><a href="/sample/test"></a></li>
                    <li class="sidebar-menu MENU4"><a href="/analysis/detection-file-list"></a></li>
                    <li class="sidebar-menu MENU5"><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </th:block>
</html>
