/* ===================================================================================================
    Scroll
=================================================================================================== */
::-webkit-scrollbar {
  width: 0.438rem;
  height: 0.438rem;
}

::-webkit-scrollbar-thumb {
  /* background: #d9d9d9; 0110 */
  background: #bfbfbf;
}

::-webkit-scrollbar-track {
  background: transparent;
}

a:active {
  /* eslint-disable-next-line css/no-important */
  box-shadow: none !important;
}

/* ===================================================================================================
     Wrapper
=================================================================================================== */
.content-wrapper {
  /* eslint-disable-next-line css/no-important */
  min-height: calc(100% - 7.1875rem) !important;
  background: #000;
}
.wrapper {
  margin: 0 auto;
}

.wrapper .content_wrap {
  display: flex;
  position: relative;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  flex-direction: column;
}

/* ===================================================================================================
    Header 영역
=================================================================================================== */
.header-wrapper {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  flex-direction: column;
  z-index: 2;
}

/* ===================================================================================================
    Main 영역
=================================================================================================== */
#main {
  position: relative;

  margin: 0 auto;
  transition: 0.5s;
  background: #000;
}
/* ===================================================================================================
    Sidebar 영역
=================================================================================================== */
.sidebar-wrapper {
  position: fixed;
  width: 3.75rem;
  height: 100%;
  background-color: #212429;
  border-right: 0.0625rem solid #7e7e7e;
}

/* ===================================================================================================
    Footer 영역
=================================================================================================== */
.footer-wrapper {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.8125rem;
  padding: 0.9375rem 3.125rem;
  margin: 0 auto;
  color: #a6a7aa;
  background: #191919;
  font-weight: 200;
  font-size: 0.75rem;
  align-items: center;
}
