@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html {
  /**
   * rem의 기준을 절대단위(px)로 명시적으로 설정
   * ex) 최상위 <html> 요소의 font-size 가 16px 이라면 1rem == 16px 이다.
   *     <html> 하위 요소에서 15px 의 크기는 15 / 16 = 0.9375rem 이다.
   */
  font-size: 16px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

pre {
  color: #37383a;
}

input::placeholder {
  color: #cfcfcf;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

table caption {
  display: none;
}

.d-none {
  /* eslint-disable-next-line css/no-important */
  display: none !important;
}

.no-margin {
  margin: 0;
}

.h-margin-3 {
  margin: 0 3px;
}

.c-red {
  color: red;
}

.c-pointer {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

[data-form-error] {
  font-size: 14px;
  color: red;
  margin-left: 10px;
}

.fade {
  transition: opacity 0.15s linear;
}

.text-bold {
  font-weight: bold;
}

/* ===================================================================================================
    Position
=================================================================================================== */
.po-a {
  position: absolute;
}

/* ===================================================================================================
    Flex
=================================================================================================== */
.flex-sty01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-sty02 {
  display: flex;
  align-items: center;
}

/* ===================================================================================================
    Width
=================================================================================================== */

/* ===================================================================================================
    Margin, Padding
=================================================================================================== */
.ma-t5 {
  /* eslint-disable-next-line css/no-important */
  margin-top: 5px !important;
}

.ma-t10 {
  /* eslint-disable-next-line css/no-important */
  margin-top: 10px !important;
}

.ma-t20 {
  /* eslint-disable-next-line css/no-important */
  margin-top: 20px !important;
}

.ma-t30 {
  /* eslint-disable-next-line css/no-important */
  margin-top: 30px !important;
}

.ma-l20 {
  /* eslint-disable-next-line css/no-important */
  margin-left: 20px !important;
}

.ma-l50 {
  /* eslint-disable-next-line css/no-important */
  margin-left: 50px !important;
}

.pa-0 {
  /* eslint-disable-next-line css/no-important */
  padding: 0 !important;
}

.pa-10 {
  /* eslint-disable-next-line css/no-important */
  padding: 10px !important;
}

.pa-20 {
  /* eslint-disable-next-line css/no-important */
  padding: 20px !important;
}

/* ===================================================================================================
    Common
=================================================================================================== */
.custom-select {
  position: relative;
  display: inline-block;
  width: 250px;
  padding: 8px 12px;
  cursor: pointer;
}

.custom-select select {
  width: 100%;
  padding: 8px 36px 8px 12px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  background: #141414;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.custom-select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  pointer-events: none;
  transform: translateY(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666;
  width: 0;
  height: 0;
}

.form-textarea {
  padding: 15px 20px;
  width: calc(100% - 42px);
  height: 180px;
  border-radius: 10px;
  border: 1px solid #1a5df4;
  background-color: #fff;
  outline: 0;
  resize: none;
  font-size: 14px;
  font-weight: 400;
  color: #495057;
}

.form-textarea-line:focus {
  box-shadow: 0 0 4px 0 #1761de;
}

.input-write-sty01 {
  width: 500px;
  height: 38px;
  outline: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #7f8287;
  padding: 0 16px;
  background-color: #fff;
  color: #495057;
  font-size: 14px;
}

.search-btn {
  width: 100px;
  color: #fff;
  font-size: 15px;
  padding-left: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(../images/icon_search.png);
  background-repeat: no-repeat;
  background-position: top 13px left 19px;
  background-size: 17px;
  background-color: #7f8287;
  border: 1px solid #7f8287;
}

.risk-inspection-wrap {
  display: flex;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  padding: 50px;
  color: #1a5df4;
  flex-direction: column;
  justify-content: space-around;
}

.risk-inspection-wrap.modal {
  width: calc(100% - 40px);
  height: auto;
  padding: 20px;
}

.risk-inspection-wrap .box1,
.risk-inspection-wrap .box2 {
  width: 100%;
  height: 35%;
}

.risk-inspection-wrap .detail_contents {
  height: 100%;
  font-size: 15px;
  line-height: 22.4px;
  letter-spacing: -0.02em;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 3px;
  white-space: pre-wrap;
  font-family: 'Pretendard', sans-serif;
}

.risk-inspection-wrap .title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.tab-container .tab-buttons {
  display: flex;
  border-bottom: 1px solid #cececf;
  margin-bottom: 20px;
}

.tab-container .tab-btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  margin-right: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.tab-container .tab-btn.active {
  background-color: #007bff;
  color: #fff;
}

.tab-container .tab-contents {
  display: none;
}

.tab-container .tab-contents.active {
  display: block;
}

/* ===================================================================================================
    Alert / Confirm
=================================================================================================== */
#alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
  z-index: 9999;
}

#alert-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
  border-radius: 10px;
  width: 350px;
  height: 165px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#alert-title {
  font-size: 17px;
  font-weight: 200;
  color: #000000;
  margin-top: 42px;
  margin-bottom: 33px;
}

#alert-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  width: 155px;
  height: 43px;
  border-radius: 40px;
  font-weight: 400;
  color: #fff;
  background-color: #007aff;
  border: none;
  font-size: 15px;
}

#confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 40%);
  z-index: 9999;
}

#confirm-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
  border-radius: 20px;
  width: 550px;
  height: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#confirm-title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 20px;
}

#confirm-title-desc {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #000000;
  margin-bottom: 55px;
}

#confirm-button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: -7px;
}

#confirm-button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  width: 215px;
  height: 48px;
  border-radius: 40px;
  font-weight: 400;
  color: #fff;
  background-color: #c5c5c5;
  border: none;
  font-size: 20px;
  margin-right: 4px;
}

#confirm-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  width: 215px;
  height: 48px;
  border-radius: 40px;
  font-weight: 400;
  color: #fff;
  background-color: #007aff;
  border: none;
  font-size: 20px;
  margin-left: 4px;
}

/* ===================================================================================================
    Table
=================================================================================================== */
.table-wrap {
  margin: 30px;
}

.table-wrap .table-sty01 {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #cececf;
  color: #37383a;
}

.table-wrap .table-sty01 th {
  height: 50px;
  background: #f3f4f8;
  border-right: 1px solid #cececf;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -1px;
}

.table-wrap .table-sty01 th:last-child,
.table-wrap .table-sty01 td:last-child {
  border-right: 0;
}

.table-wrap .table-sty01 td {
  max-width: 200px;
  height: 57px;
  text-align: center;
  border-right: 1px solid #cececf;
  border-bottom: 1px solid #cececf;
}

.table-wrap .table-sty01 tr.grade-5 {
  background: #e8929f;
}

.table-wrap .table-sty01 tr.grade-4 {
  background: #efafbb;
}

.table-wrap .table-sty01 tr.grade-3 {
  background: #f2cfd6;
}

.table-wrap .table-btn-sty01 {
  padding: 5px 10px;
  background: #dfeafc;
  border: 0;
  color: #416de7;
  font-weight: 500;
}

.table-wrap .pagination-wrapper {
  margin-top: 20px;
}

.table-wrap .pagination-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.table-wrap .pagination-wrapper .pagination {
  width: 420px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.table-wrap .pagination-wrapper .pagination .paginate_button {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  margin: 0 5px;
  font-size: 15px;
}

.table-wrap .pagination-wrapper .pagination .paginate_button.active {
  background-color: #ebf0ff;
}

.table-wrap .pagination-wrapper .pagination .paginate_button a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #141616;
}

.table-wrap .pagination-wrapper .pagination .paginate_button.active a {
  cursor: auto;
}

/* ===================================================================================================
    File
=================================================================================================== */
.file-upload-box {
  display: flex;
  width: calc(100% - 42px);
  min-height: 180px;
  border: 1px solid #1a5df4;
  border-radius: 10px;
  background-color: #f6f9ff;
  padding: 20px;
  text-align: center;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-upload-box.highlight {
  /* eslint-disable-next-line css/no-important */
  background-color: #f0f8ff !important;
  /* eslint-disable-next-line css/no-important */
  border: 1px dashed #1a5df4 !important;
}

.file-upload-box.active {
  background-color: #f0f8ff;
}

.file-upload-box .upload-file-list {
  width: 100%;
}

.file-upload-box .file-upload-box-title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 42px;
}

.file-upload-icon {
  width: 50px;
  height: 64px;
  margin-bottom: -10px;
}

.file-upload-icon img {
  height: 50px;
  width: auto;
}

.file-upload-ok {
  display: flex;
  width: 100%;
  margin: 5px 0;
  flex-direction: row;
  align-items: center;
}

.file-upload-ok .checked-file {
  width: 25px;
  margin-right: 10px;
}

.file-upload-ok .file-info {
  display: flex;
  width: 100%;
  height: 25px;
  float: left;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  justify-content: space-between;
  background-image: url(../images/icon_file_ok.png);
  background-repeat: no-repeat;
  background-position: top 11px left 13px;
  background-size: 17px;
}

.file-upload-ok .file-info .file-border {
  width: 1px;
  height: 45px;
  margin: 0 15px 0 23px;
  background-color: #ddd;
}

.file-upload-ok .file-info .file-title {
  max-width: 400px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  color: #000;
}

.file-upload-ok .file-info .file-remove {
  width: 25px;
  height: 25px;
  margin-top: 3px;
  cursor: pointer;
}

.file-upload-text {
  text-align: center;
  font-size: 15px;
  color: #1a5df4;
  margin-bottom: 15px;
  line-height: 1.5;
  letter-spacing: -1px;
}

.file-upload-button {
  width: 130px;
  height: 35px;
  padding-left: 20px;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 300;
  background-color: #004dd7;
  background-image: url(../images/icon_file_upload.png);
  background-repeat: no-repeat;
  background-position: top 13px left 28px;
  background-size: 11px;
}

/* ===================================================================================================
    Button
=================================================================================================== */
.btn-logout {
  padding: 6px 15px;
  background: #6187ec;
  border: 1px solid #416cd4;
  color: #fff;
  border-radius: 20px;
}

.button-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
}

.button-wrap-po-a {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  top: 8px;
  right: 10px;
}

.btn-sty-01 {
  width: 80%;
  height: 40px;
  padding: 0 15px;
  background: #004dd7;
  border: 0;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}

.btn-sty-02 {
  padding: 6px 35px;
  border: 0;
  color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 15px;
  background-image: linear-gradient(to right, #2ab1c5, #496aed);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-sty-02.btn-download {
  padding: 6px 46px 6px 30px;
  background-image: url(../images/download.png), linear-gradient(to right, #2ab1c5, #496aed);
  background-size: 16px 16px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: right 20px center, center;
}

/* ===================================================================================================
    Header 영역
=================================================================================================== */
.header-wrapper .header-wrap {
  display: flex;
  min-width: 1100px;
  align-items: center;
  background-color: #070707;
  border-bottom: 1px solid #aaa;
}

.header-wrapper .header-box1 {
  display: flex;
  width: 59%;
  padding: 15px 30px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid #6b6b6b;
}

.header-wrapper .header-box1 .top-logo img {
  width: 125px;
}

.header-wrapper .header-box2 {
  width: 30%;
  padding: 20px 20px;
  border-right: 1px solid #6b6b6b;
}

.header-wrapper .header-box2 .notice-box {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #212121;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper .header-box2 .notice-box .bar {
  width: 10px;
  height: 39px;
  background: linear-gradient(to bottom, #687cfb, #ab82fe);
}

.header-wrapper .header-box2 .notice-box .back1 {
  width: 42px;
  height: 21px;
  background-image: url(../images/alarm.png);
  background-size: contain;
  background-position: 15px;
  background-repeat: no-repeat;
}

.header-wrapper .header-box2 .notice-box .contents {
  margin-left: 20px;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
}

.header-wrapper .header-box2 .notice-box .icon-move {
  width: 30px;
  height: 20px;
  margin: 4px;
  background-image: url(../images/arrow.png);
  background-size: contain;
  background-position: top 0 right 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header-wrapper .header-box3 {
  margin: auto;
}

.header-wrapper .header-box3 .date {
  color: #aaa9ae;
  font-size: 16px;
}

/* ===================================================================================================
    Main 영역
=================================================================================================== */
#main .main-contents {
  width: calc(100% - 61px);
  padding: 10px 0 100px 0;
  margin-left: 61px;
}

#main .main-contents .main-contents-contents {
  min-width: 1800px;
  padding: 0 50px;
  margin-top: 20px;
}

#main .main-contents .main-contents-contents .wrap-top .site-logo {
  width: 110px;
}

#main .main-contents .main-contents-contents .wrap-top .main-title {
  margin-left: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
}

.main-contents-contents .wrap-contents {
  margin-top: 15px;
}

.main-contents-contents .wrap-contents .top {
  display: flex;
  position: relative;
  height: 50px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #606060;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.main-contents-contents .wrap-contents .arrow-left,
.main-contents-contents .wrap-contents .arrow-right {
  position: relative;
  cursor: pointer;
}

.main-contents-contents .wrap-contents .arrow-left::before {
  position: absolute;
  left: 0;
  top: -7px;
  content: '';
  width: 13px;
  height: 13px;
  border-top: 3px solid #0978dd;
  border-right: 3px solid #0978dd;
  transform: rotate(225deg);
}

.main-contents-contents .wrap-contents .arrow-right::before {
  position: absolute;
  left: 0;
  top: -7px;
  content: '';
  width: 13px;
  height: 13px;
  border-bottom: 3px solid #0978dd;
  border-left: 3px solid #0978dd;
  transform: rotate(225deg);
}

.main-contents-contents .wrap-contents .data-date {
  display: flex;
  margin: 0 50px 0 70px;
  align-items: center;
}

.main-contents-contents .wrap-contents .data-date .date {
  margin-right: 15px;
  font-weight: 300;
}

.main-contents-contents .wrap-contents .data-date .icon-today {
  padding: 5px 15px;
  background-color: #393939;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 200;
}

.main-contents-contents .wrap-contents .contents {
  margin-top: 20px;
}

.main-contents-contents .wrap-contents .contents .status-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.main-contents-contents .wrap-contents .contents .status-card .card {
  position: relative;
  display: flex;
  width: 24%;
  height: 140px;
  padding: 20px 24px 20px 100px;
  border: 0;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 300;
  word-wrap: break-word;
  background-repeat: no-repeat, no-repeat;
  background-position: left 20px top 45px, center;
  background-size: 60px, cover;
  justify-content: space-between;
}

.main-contents-contents .wrap-contents .contents .status-card .card .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-contents-contents .wrap-contents .contents .status-card .card.card1 {
  color: #6eb7ff;
  background-image: url(../images/main_icon1.png), linear-gradient(100deg, #080808, #212121);
  background-position: left 20px top 47px, center;
  background-size: 63px, cover;
}

.main-contents-contents .wrap-contents .contents .status-card .card.card2 {
  color: #04f0fb;
  background-image: url(../images/main_icon2.png), linear-gradient(100deg, #080808, #212121);
  background-position: left 20px top 41px, center;
}

.main-contents-contents .wrap-contents .contents .status-card .card.card3 {
  color: #b4b4fc;
  background-image: url(../images/main_icon3.png), linear-gradient(100deg, #080808, #212121) !important;
  background-repeat: no-repeat;
}

.main-contents-contents .wrap-contents .contents .status-card .card.card4 {
  color: #5eefa6;
  background-image: url(../images/main_icon4.png), linear-gradient(100deg, #080808, #212121);
}

.main-contents-contents .wrap-contents .contents .status-card .card .card-title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;
  font-weight: bold;
  margin-bottom: 5px;
}

.main-contents-contents .wrap-contents .contents .status-card .card .graph {
  width: 100px;
}

.main-contents-contents .wrap-contents .contents .status-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

.main-contents-contents .wrap-contents .contents .status-box .box {
  display: flex;
  width: 49.4%;
  height: 260px;
  border: 0;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 300;
  word-wrap: break-word;
  justify-content: space-between;
  background: linear-gradient(100deg, #080808, #212121);
  flex-direction: column;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-top {
  width: 100%;
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #212429;
  color: #fff;
  text-align: center;
  padding-top: 11px;
  font-size: 16px;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents {
  display: flex;
  width: 100%;
  height: calc(100% - 40px);
  padding: 30px 20px;
  flex-direction: row;
  align-items: center;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .graph {
  width: 190px;
  height: 150px;
  margin-top: 7px;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap {
  display: flex;
  width: calc(100% - 210px);
  margin-left: 15px;
  justify-content: space-between;
  flex-direction: row;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data {
  display: flex;
  width: 31.5%;
  height: 100%;
  border-radius: 5px;
  font-size: 15px;
  flex-direction: column;
  align-items: center;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data.data1 {
  border: 1px solid #a9fcb1;
  color: #a9fcb1;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data.data2 {
  border: 1px solid #8bdbf7;
  color: #8bdbf7;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data.data3 {
  border: 1px solid #fcc3d0;
  color: #fcc3d0;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data .data-title {
  width: 100%;
  padding: 8px;
  text-align: center;
  font-weight: 500;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data.data1 .data-title {
  border-bottom: 1px solid #a9fcb1;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data.data2 .data-title {
  border-bottom: 1px solid #8bdbf7;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data.data3 .data-title {
  border-bottom: 1px solid #fcc3d0;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data .data-contents {
  width: 100%;
  height: 100%;
  padding: 25px;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data .data-contents div {
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data.data1 .data-contents div {
  background: rgba(169, 252, 177, 0.2);
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data.data2 .data-contents div {
  background: rgba(139, 219, 247, 0.2);
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data.data3 .data-contents div {
  background: rgba(252, 195, 208, 0.2);
}

.main-contents-contents .wrap-contents .contents .status-box .box .box-contents .data-wrap .data .data-contents div span:nth-child(2) {
  font-size: 14px;
  font-weight: 300;
}

.main-contents-contents .wrap-contents .contents .status-box2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

.main-contents-contents .wrap-contents .contents .status-box2 .box {
  display: flex;
  width: 49.4%;
  height: 300px;
  border: 0;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 300;
  word-wrap: break-word;
  justify-content: space-between;
  flex-direction: column;
}

.main-contents-contents .wrap-contents .contents .status-box2 .box.box1 {
  background: linear-gradient(100deg, #080808, #212121);
}

.main-contents-contents .wrap-contents .contents .status-box2 .box.box2 {
  display: flex;
  flex-direction: row;
}

.main-contents-contents .wrap-contents .contents .status-box2 .box.box2 .box-box {
  width: 48.4%;
  background: linear-gradient(100deg, #080808, #212121);
  border-radius: 5px;
}

.main-contents-contents .wrap-contents .contents .status-box2 .box.box2 .box-box.detection-file {
  padding: 20px 24px 20px 100px;
  background-repeat: no-repeat;
  background-size: 60px, cover;
  background-position: left 20px top 55px, center;
}

.main-contents-contents .wrap-contents .contents .status-box2 .box.box2 .box-box.detection-file.detection-file-size-box {
  color: #b4b4fc;
  background-image: url(../images/main_icon3.png), linear-gradient(100deg, #080808, #212121);
}

.main-contents-contents .wrap-contents .contents .status-box2 .box.box2 .box-box.detection-file.detection-file-count-box {
  color: #5eefa6;
  background-image: url(../images/main_icon4.png), linear-gradient(100deg, #080808, #212121);
}

.main-contents-contents .wrap-contents .contents .status-box2 .box.box2 .box-box.detection-file .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 35px;
}

.main-contents-contents .wrap-contents .contents .status-box2 .box.box2 .box-box.detection-file .text-content {
  font-size: 18px;
  color: #ffffff;
  margin-top: 20px;
}

.main-contents-contents .wrap-contents .contents .status-box2 .box.box2 .box-box.detection-file .text-content .file-count {
  font-weight: bold;
}

.main-contents-contents .wrap-contents .contents .status-box2 .box.box2 .box-box.detection-file .text-content .num-item {
  font-size: 14px;
}

.main-contents-contents .wrap-contents .contents .status-box2 .box.box2 .box-box.detection-file .text .card-title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;
  font-weight: bold;
  margin-bottom: 5px;
}

.main-contents-contents .wrap-contents .contents .status-box2 .box .box-top {
  width: 100%;
  height: 40px;
  padding: 20px;
  color: #fff;
  font-size: 16px;
}

.main-contents-contents .wrap-contents .contents .status-box2 .box .box-contents {
  display: flex;
  width: 100%;
  height: calc(100% - 40px);
  padding: 20px;
  flex-direction: row;
}

.main-contents-contents .wrap-contents .contents .status-box2 .box .box-contents .graph {
  width: 100%;
  height: 100%;
}

.main-contents-contents .contents-box {
  width: 100%;
  min-height: 550px;
  margin-top: 20px;
  border: 1px solid #bfcdf0;
  border-radius: 10px;
  background: #fff;
}

@media (max-width: 1800px) {
  #main .main-contents {
    overflow-x: auto;
  }
}

/* ===================================================================================================
    Sidebar 영역
=================================================================================================== */
.sidebar-wrap {
  text-align: center;
}

.sidebar-wrap .sidebar-nav .sidebar-menu {
  width: 3.75rem;
  height: 3.75rem;
  border-bottom: 1px solid #3e3f42;
  background-size: 1.75rem auto;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu1 {
  background-image: url(../images/main-off.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu1:hover,
.sidebar-wrap .sidebar-nav .sidebar-menu.menu1.active {
  background-image: url(../images/main-on.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu2 {
  background-image: url(../images/2-off.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu2:hover,
.sidebar-wrap .sidebar-nav .sidebar-menu.menu2.active {
  background-image: url(../images/2-on.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu3 {
  background-image: url(../images/3-off.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu3:hover,
.sidebar-wrap .sidebar-nav .sidebar-menu.menu3.active {
  background-image: url(../images/3-on.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu4 {
  background-image: url(../images/4-off.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu4:hover,
.sidebar-wrap .sidebar-nav .sidebar-menu.menu4.active {
  background-image: url(../images/4-on.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu5 {
  background-image: url(../images/5-off.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu5:hover,
.sidebar-wrap .sidebar-nav .sidebar-menu.menu5.active {
  background-image: url(../images/5-on.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu6 {
  background-image: url(../images/6-off.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu6:hover,
.sidebar-wrap .sidebar-nav .sidebar-menu.menu6.active {
  background-image: url(../images/6-on.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu7 {
  background-image: url(../images/7-off.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu7:hover,
.sidebar-wrap .sidebar-nav .sidebar-menu.menu7.active {
  background-image: url(../images/7-on.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu8 {
  background-image: url(../images/8-off.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu8:hover,
.sidebar-wrap .sidebar-nav .sidebar-menu.menu8.active {
  background-image: url(../images/8-on.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu9 {
  background-image: url(../images/9-off.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu.menu9:hover,
.sidebar-wrap .sidebar-nav .sidebar-menu.menu9.active {
  background-image: url(../images/9-on.png);
}

.sidebar-wrap .sidebar-nav .sidebar-menu a {
  display: block;
  width: 100%;
  height: 100%;
}

/* ===================================================================================================
    Footer 영역
=================================================================================================== */
