<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout/basic/layout}">
    <th:block layout:fragment="bodyStyle"></th:block>
    <th:block layout:fragment="bodyScript">
        <script type="text/javascript">
            // eslint-disable-next-line no-unused-vars
            function initPage() {}

            // eslint-disable-next-line no-unused-vars
            function goPage(pageNo) {
                location.href = `/analysis/detection-file?pageNo=${pageNo}`;
            }

            /**
             * 업로드 파일 추가 UI
             * @param {FileList} fileList - 파일 목록
             */
            function addUploadFileUI(fileList) {
                const uploadFileList = document.querySelector('.upload-file-list');

                if (fileList.length > 0) {
                    document.querySelector('.file-upload .file-upload-box').classList.add('active');
                    document.querySelector('.file-upload .file-upload-icon').classList.add('d-none');

                    for (const file of fileList) {
                        uploadFileList.innerHTML += `
                            <li class="file-upload-ok">
                                <img class="checked-file" src="/public/images/icon_file_chk.png" alt="파일선택완료"/>
                                <div class="file-info">
                                    <div class="c-flex-sty02">
                                        <div class="file-border"></div>
                                        <div class="file-title file-name">${file.name}</div>
                                    </div>
                                    <div class="file-remove">
                                        <a onClick="deleteFile(this);"><img src="/public/images/icon_remove.png" alt="삭제아이콘"/></a>
                                    </div>
                                </div>
                            </li>
                        `;
                    }
                }
            }

            function initDropZone() {
                g_uploadFiles = [];
                const dropZone = document.querySelector('.file-upload .file-upload-box');
                const fileUpload = document.querySelector('.file-upload .file-upload');

                new S2DropZone({
                    dropZone: dropZone,
                    dragenter: function (event, dropZoneElement) {
                        dropZoneElement.classList.add('highlight');
                    },
                    dragover: function (event, dropZoneElement) {
                        dropZoneElement.classList.add('highlight');
                    },
                    dragleave: function (event, dropZoneElement) {
                        dropZoneElement.classList.remove('highlight');
                    },
                    drop: function (event, dropZoneElement, dropFiles) {
                        dropZoneElement.classList.remove('highlight');

                        if (dropFiles.length > 0 && checkFileExtension(dropFiles)) {
                            for (const file of dropFiles) {
                                g_uploadFiles.push(file);
                            }
                            addUploadFileUI(dropFiles);
                        }
                    }
                });

                // 파일 선택 버튼 클릭 이벤트
                const fileUploadButton = dropZone.querySelector('.file-upload-button');
                if (fileUploadButton) {
                    fileUploadButton.addEventListener('click', () => fileUpload.click());
                }

                // 파일 선택 이벤트
                if (fileUpload) {
                    fileUpload.addEventListener('change', () => {
                        if (fileUpload.files.length > 0 && checkFileExtension(fileUpload.files)) {
                            for (const file of fileUpload.files) {
                                g_uploadFiles.push(file);
                            }
                            addUploadFileUI(fileUpload.files);
                        }
                    });
                }
            }

            /**
             * 파일 삭제
             */
            // eslint-disable-next-line no-unused-vars
            function deleteFile(target) {
                const delElement = target.closest('li');

                const parentUl = delElement.parentElement;
                const allLiElements = Array.from(parentUl.children);
                const delIndex = allLiElements.indexOf(delElement);

                g_uploadFiles.splice(delIndex, 1);
                delElement.remove();

                if (g_uploadFiles.length === 0) {
                    document.querySelector('.file-upload .file-upload-box').classList.remove('active');
                    document.querySelector('.file-upload .file-upload-icon').classList.remove('d-none');
                }
            }
        </script>
    </th:block>
    <th:block layout:fragment="bodyFragment">
        <div class="main-contents-contents">
            <div class="wrap-top">
                <h1>
                    <span class="main-title menu9">이상 패턴 탐지 현황</span>
                    <span class="sub-title">정상 업무 패턴을 벗어난 의심 행위 탐지</span>
                </h1>
            </div>
            <div class="wrap-contents">
                <div class="top">
                    <div class="c-flex-sty01 targetDate-wrap">
                        <span th:text="${searchStartDeStr}"></span>
                        <span>&nbsp;~&nbsp;</span>
                        <span th:text="${searchEndDeStr}"></span>
                    </div>
                </div>
                <div class="contents">
                    <div class="status-card">
                        <div class="card type1 many-on-many white">
                            <div class="title-box menu6-1 padding-left-0">
                                <div class="card-title">전체 이상패턴 탐지 건수</div>
                                <div class="card-desc">PC별 이상패턴 탐지 합계</div>
                            </div>
                            <div class="card-content"><span>3,531</span>건</div>
                        </div>
                        <div class="card type1 many-on-many white">
                            <div class="title-box menu6-2 padding-left-0">
                                <div class="card-title">위험 점수</div>
                                <div class="card-desc">이상 탐지 분석 등을 종합한 위험 지수</div>
                            </div>
                            <div class="card-content"><span>65</span>점</div>
                        </div>
                        <div class="card border"></div>
                        <div class="card type1 many-on-many mint">
                            <div class="title-box menu6-3">
                                <div class="card-title">정상</div>
                                <div class="card-desc">이상 탐지 정상 건수</div>
                            </div>
                            <div class="card-content"><span>31</span>건</div>
                        </div>
                        <div class="card type1 many-on-many tangerine">
                            <div class="title-box menu6-4">
                                <div class="card-title">점검</div>
                                <div class="card-desc">이상 패턴 점검 건수</div>
                            </div>
                            <div class="card-content"><span>7</span>건</div>
                        </div>
                        <div class="card type1 many-on-many red">
                            <div class="title-box menu6-5">
                                <div class="card-title">경고</div>
                                <div class="card-desc">이상 패턴 경고 건수</div>
                            </div>
                            <div class="card-content"><span>1</span>건</div>
                        </div>
                    </div>
                    <h2 class="type1">PC별 이상 패턴 탐지 현황</h2>
                    <div class="table-wrap type1 dark-gray multi-head">
                        <table class="table-sty01">
                            <caption>
                                PC별 이상 패턴 탐지 현황
                            </caption>
                            <thead>
                                <tr>
                                    <th rowspan="2">Mac 주소</th>
                                    <th colspan="3">에이전트 중지 패턴</th>
                                    <th colspan="2">복호화 시도 패턴</th>
                                    <th colspan="3">외부 유출 시도 패턴</th>
                                    <th rowspan="2">탐지 결과</th>
                                    <th rowspan="2">알림 전송</th>
                                </tr>
                                <tr>
                                    <th>반복 중지</th>
                                    <th>비 업무시간대 중지</th>
                                    <th>일부 프로세스 중지</th>
                                    <th>비 업무시간대 복호화</th>
                                    <th>대량 복호화</th>
                                    <th>비 업무시간대 전송</th>
                                    <th>중복 전송</th>
                                    <th>대량 전송</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${fileAnalysisListPagination.isEmpty}">
                                    <td colspan="5">데이터가 없습니다.</td>
                                </tr>
                                <tr th:each="fileAnalysis : ${fileAnalysisListPagination.dataList}">
                                    <td th:text="${fileAnalysis.detectionFileName}"></td>
                                    <td th:text="${#temporals.format(fileAnalysis.createDt, 'yyyy-MM-dd HH:mm:ss')}">2025-01-26: 15:00</td>
                                    <td th:text="${fileAnalysis.analysisStatusCcdNm}"></td>
                                    <td th:text="${#numbers.formatInteger(fileAnalysis.totalDetectionCount, 0, 'COMMA')}"></td>
                                    <td th:text="${fileAnalysis.maxDetectionTypeCcdNm}"></td>
                                    <td>
                                        <button th:if="${fileAnalysis.signedFileId}" class="table-btn-sty01" th:onclick="downloadFile([[${fileAnalysis.signedFileId}]]);">다운로드</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination-wrapper">
                            <ul th:if="${fileAnalysisListPagination.isNotEmpty}" class="pagination">
                                <li th:if="${fileAnalysisListPagination.firstPageNoOnPageList gt 1}" class="paginate_button prev">
                                    <a href="#" th:onclick="goPage([[${fileAnalysisListPagination.firstPageNoOnPageList - 1}]])">&lt;</a>
                                </li>
                                <th:block th:each="pageNo : ${#numbers.sequence(fileAnalysisListPagination.firstPageNoOnPageList, fileAnalysisListPagination.lastPageNoOnPageList)}">
                                    <li th:if="${pageNo eq fileAnalysisListPagination.pageNo}" class="paginate_button active">
                                        <a href="#" th:text="${pageNo}"></a>
                                    </li>
                                    <li th:if="${pageNo ne fileAnalysisListPagination.pageNo}" class="paginate_button">
                                        <a href="#" th:onclick="goPage([[${pageNo}]])" th:text="${pageNo}"></a>
                                    </li>
                                </th:block>
                                <li th:if="${fileAnalysisListPagination.lastPageNoOnPageList lt fileAnalysisListPagination.lastPageNo}" class="paginate_button next">
                                    <a href="#" th:onclick="goPage([[${fileAnalysisListPagination.lastPageNoOnPageList + 1}]])">&gt;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>
