<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout/basic/layout}">
    <th:block layout:fragment="bodyStyle">
        <style>
            .header-wrapper .header-wrap {
                border-right: 0;
            }

            .content-wrapper.contents-type2 #main .main-contents {
                margin-top: 0;
                padding-top: 0;
            }

            #main .main-contents .btn-sty-02 {
                margin: 0.625rem 0 0.625rem calc(100% - 11.25rem);
            }

            #main .main-contents .main-contents-contents .contents-box {
                margin-top: 0;
            }

            .content-wrapper.contents-type2 {
                overflow-y: hidden;
            }
        </style>
    </th:block>
    <th:block layout:fragment="bodyScript">
        <script type="text/javascript">
            let isRegistering = false;

            document.addEventListener('DOMContentLoaded', () => {});

            // eslint-disable-next-line no-unused-vars
            function goPage(pageNo) {
                location.href = `/analysis/detection-file-list?pageNo=${pageNo}`;
            }

            // eslint-disable-next-line no-unused-vars
            function openValidateFile() {
                S2Util.showModal(
                    `
                        <div class="risk-inspection-wrap modal">
                            <div class="tab-container">
                                <div>
                                    <div id="tab-file" class="tab-contents active">
                                        <div class="contents file-upload">
                                            <div class="file-upload-box">
                                                <input type="file" class="file-upload d-none" multiple accept=".pdf, .hwpx, .docx, .xlsx, .pptx"/>
                                                <div class="file-upload-icon">
                                                    <img src="/public/images/file_upload_icon.png" alt="파일아이콘"/>
                                                </div>
                                                <ul class="upload-file-list">
                                                </ul>
                                                <div class="file-upload-text">
                                                    <p>첨부할 파일을 여기에 끌어다 놓거나, 파일 선택 버튼을 직접 선택해주세요.</p>
                                                </div>
                                                <button class="file-upload-button">파일선택</button>
                                            </div>
                                        </div>
                                        <div class="button-wrap ma-t30">
                                            <button class="btn-sty-01 create-article-btn">등록</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `,
                    {
                        width: '800px',
                        title: '파일 검증'
                    },
                    function () {
                        initDropZone();

                        // 파일 검증 등록 버튼 클릭 이벤트 처리
                        document.body.addEventListener('click', (event) => {
                            if (event.target.classList.contains('create-article-btn') && !isRegistering) {
                                isRegistering = true;

                                if (g_uploadFiles.length === 0) {
                                    S2Util.alert('파일이 없습니다.');
                                    isRegistering = false;
                                    return;
                                }

                                // 파일 등록
                                S2Util.fetch(
                                    '/analysis/create-detection-file',
                                    {
                                        method: 'post',
                                        dataType: 'multipart/form-data',
                                        files: g_uploadFiles
                                    },
                                    function () {
                                        S2Util.showToast('등록되었습니다.');
                                        setTimeout(function () {
                                            location.reload();
                                        }, 500);
                                    }
                                );
                            }
                        });
                    }
                );
            }

            // eslint-disable-next-line no-unused-vars
            function downloadFile(fileId) {
                S2Util.fetch(
                    `/file/image/view/${fileId}`,
                    {
                        method: 'GET',
                        responseType: 'blob'
                    },
                    function () {
                        S2Util.showToast('다운로드 성공하였습니다.');
                    }
                );
            }

            let g_uploadFiles = [];

            function checkFileExtension(fileList) {
                let result = true;
                const allowedExtensions = ['pdf', 'hwpx', 'docx', 'xlsx', 'pptx'];
                for (let file of fileList) {
                    const ext = file.name.split('.').pop().toLowerCase();
                    if (!allowedExtensions.includes(ext)) {
                        S2Util.alert('허용되지 않은 파일 형식입니다: ' + file.name);
                        result = false;
                        break;
                    }
                }
                return result;
            }

            /**
             * 업로드 파일 추가 UI
             * @param {FileList} fileList - 파일 목록
             */
            function addUploadFileUI(fileList) {
                const uploadFileList = document.querySelector('.upload-file-list');

                if (fileList.length > 0) {
                    document.querySelector('.file-upload .file-upload-box').classList.add('active');
                    document.querySelector('.file-upload .file-upload-icon').classList.add('d-none');

                    for (const file of fileList) {
                        uploadFileList.innerHTML += `
                            <li class="file-upload-ok">
                                <img class="checked-file" src="/public/images/icon_file_chk.png" alt="파일선택완료"/>
                                <div class="file-info">
                                    <div class="flex-sty02">
                                        <div class="file-border"></div>
                                        <div class="file-title file-name">${file.name}</div>
                                    </div>
                                    <div class="file-remove">
                                        <a onClick="deleteFile(this);"><img src="/public/images/icon_remove.png" alt="삭제아이콘"/></a>
                                    </div>
                                </div>
                            </li>
                        `;
                    }
                }
            }

            function initDropZone() {
                g_uploadFiles = [];
                const dropZone = document.querySelector('.file-upload .file-upload-box');
                const fileUpload = document.querySelector('.file-upload .file-upload');

                new S2DropZone({
                    dropZone: dropZone,
                    dragenter: function (event, dropZoneElement) {
                        dropZoneElement.classList.add('highlight');
                    },
                    dragover: function (event, dropZoneElement) {
                        dropZoneElement.classList.add('highlight');
                    },
                    dragleave: function (event, dropZoneElement) {
                        dropZoneElement.classList.remove('highlight');
                    },
                    drop: function (event, dropZoneElement, dropFiles) {
                        dropZoneElement.classList.remove('highlight');

                        if (dropFiles.length > 0 && checkFileExtension(dropFiles)) {
                            for (const file of dropFiles) {
                                g_uploadFiles.push(file);
                            }
                            addUploadFileUI(dropFiles);
                        }
                    }
                });

                // 파일 선택 버튼 클릭 이벤트
                const fileUploadButton = dropZone.querySelector('.file-upload-button');
                if (fileUploadButton) {
                    fileUploadButton.addEventListener('click', () => fileUpload.click());
                }

                // 파일 선택 이벤트
                if (fileUpload) {
                    fileUpload.addEventListener('change', () => {
                        if (fileUpload.files.length > 0 && checkFileExtension(fileUpload.files)) {
                            for (const file of fileUpload.files) {
                                g_uploadFiles.push(file);
                            }
                            addUploadFileUI(fileUpload.files);
                        }
                    });
                }
            }

            /**
             * 파일 삭제
             */
            // eslint-disable-next-line no-unused-vars
            function deleteFile(target) {
                const delElement = target.closest('li');

                const parentUl = delElement.parentElement;
                const allLiElements = Array.from(parentUl.children);
                const delIndex = allLiElements.indexOf(delElement);

                g_uploadFiles.splice(delIndex, 1);
                delElement.remove();

                if (g_uploadFiles.length === 0) {
                    document.querySelector('.file-upload .file-upload-box').classList.remove('active');
                    document.querySelector('.file-upload .file-upload-icon').classList.remove('d-none');
                }
            }
        </script>
    </th:block>
    <th:block layout:fragment="bodyFragment">
        <div class="main-contents-contents">
            <div class="wrap-top">
                <h1>
                    <span class="main-title menu7">서명파일 전송 현황</span>
                    <span class="sub-title">서명 파일의 외부 전송 처리 현황</span>
                </h1>
                <span class="btn-group">
                    <button class="btn-type1" onclick="S2Util.alert('준비 중입니다.');">기간 검색</button>
                    <button class="btn-type1" onclick="S2Util.alert('준비 중입니다.');">전체 현황 다운로드</button>
                </span>
            </div>
            <div class="wrap-contents">
                <div class="top">
                    <div class="flex-sty01">
                        <div class="arrow-left"></div>
                        <div class="data-date">
                            <div class="date targetDate">0000년 00월 00일</div>
                            <div class="icon-today">TODAY</div>
                        </div>
                        <div class="arrow-right"></div>
                    </div>
                </div>
                <div class="contents">
                    <div class="status-card">
                        <div class="card type1 many-on-many white small">
                            <div class="title-box menu7-1 padding-left-0">
                                <div class="card-title">전송한 총 파일 수</div>
                                <div class="card-desc">외부로 전송한 총 파일 수</div>
                            </div>
                            <div class="card-content"><span>3,531</span>건</div>
                        </div>
                        <div class="card type1 many-on-many white small">
                            <div class="title-box menu7-2 padding-left-0">
                                <div class="card-title">전송한 총 파일 용량</div>
                                <div class="card-desc">외부로 전송한 총 파일 용량</div>
                            </div>
                            <div class="card-content"><span>1,277</span>MB</div>
                        </div>
                        <div class="card border"></div>
                        <div class="card type1 many-on-many white small">
                            <div class="title-box menu7-3">
                                <div class="card-title">HTTPS 전송</div>
                                <div class="card-desc">메일/클라우드로 전송한 건수</div>
                            </div>
                            <div class="card-content"><span>749</span>건</div>
                        </div>
                        <div class="card type1 many-on-many white small">
                            <div class="title-box menu7-4">
                                <div class="card-title">USB 전송</div>
                                <div class="card-desc">USB로 전송한 건수</div>
                            </div>
                            <div class="card-content"><span>5,749</span>건</div>
                        </div>
                        <div class="card type1 many-on-many white small">
                            <div class="title-box menu7-5">
                                <div class="card-title">메신저 전송</div>
                                <div class="card-desc">카카오톡/라인 등으로 전송한 건수</div>
                            </div>
                            <div class="card-content"><span>652</span>건</div>
                        </div>
                        <div class="card type1 many-on-many white small">
                            <div class="title-box menu7-6">
                                <div class="card-title">프린터 전송</div>
                                <div class="card-desc">프린터로 출력한 건수</div>
                            </div>
                            <div class="card-content"><span>4,263</span>건</div>
                        </div>
                    </div>
                    <h2 class="type1">PC 별 서명파일 전송 처리 현황</h2>
                    <div class="table-wrap type1 dark-slate">
                        <table class="table-sty01">
                            <caption>
                                PC 별 서명파일 전송 처리 현황
                            </caption>
                            <thead>
                                <tr>
                                    <th>파일명</th>
                                    <th>등록 일시</th>
                                    <th>상태</th>
                                    <th>민감정보개수</th>
                                    <th>민감정보등급</th>
                                    <th>다운로드</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${fileAnalysisListPagination.isEmpty}">
                                    <td colspan="5">데이터가 없습니다.</td>
                                </tr>
                                <tr th:each="fileAnalysis : ${fileAnalysisListPagination.dataList}">
                                    <td th:text="${fileAnalysis.detectionFileName}"></td>
                                    <td th:text="${#temporals.format(fileAnalysis.createDt, 'yyyy-MM-dd HH:mm:ss')}">2025-01-26: 15:00</td>
                                    <td th:text="${fileAnalysis.analysisStatusCcdNm}"></td>
                                    <td th:text="${#numbers.formatInteger(fileAnalysis.totalDetectionCount, 0, 'COMMA')}"></td>
                                    <td th:text="${fileAnalysis.maxDetectionTypeCcdNm}"></td>
                                    <td>
                                        <button th:if="${fileAnalysis.signedFileId}" class="table-btn-sty01" th:onclick="downloadFile([[${fileAnalysis.signedFileId}]]);">다운로드</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination-wrapper">
                            <ul th:if="${fileAnalysisListPagination.isNotEmpty}" class="pagination">
                                <li th:if="${fileAnalysisListPagination.firstPageNoOnPageList gt 1}" class="paginate_button prev">
                                    <a href="#" th:onclick="goPage([[${fileAnalysisListPagination.firstPageNoOnPageList - 1}]])">&lt;</a>
                                </li>
                                <th:block th:each="pageNo : ${#numbers.sequence(fileAnalysisListPagination.firstPageNoOnPageList, fileAnalysisListPagination.lastPageNoOnPageList)}">
                                    <li th:if="${pageNo eq fileAnalysisListPagination.pageNo}" class="paginate_button active">
                                        <a href="#" th:text="${pageNo}"></a>
                                    </li>
                                    <li th:if="${pageNo ne fileAnalysisListPagination.pageNo}" class="paginate_button">
                                        <a href="#" th:onclick="goPage([[${pageNo}]])" th:text="${pageNo}"></a>
                                    </li>
                                </th:block>
                                <li th:if="${fileAnalysisListPagination.lastPageNoOnPageList lt fileAnalysisListPagination.lastPageNo}" class="paginate_button next">
                                    <a href="#" th:onclick="goPage([[${fileAnalysisListPagination.lastPageNoOnPageList + 1}]])">&gt;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <script id="template_contents_file" type="text/template">
                <img th:src="@{{{=serverUrl}}/file/image/view/{{=fileId}}}" alt="파일이미지"/>
            </script>
        </div>
    </th:block>
</html>
