<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout/basic/layout}">
    <th:block layout:fragment="bodyStyle"></th:block>
    <th:block layout:fragment="bodyScript">
        <script type="text/javascript">
            // eslint-disable-next-line no-unused-vars
            function initPage() {}

            // eslint-disable-next-line no-unused-vars
            function goPage(pageNo) {
                location.href = `/analysis/detection-file?pageNo=${pageNo}`;
            }
        </script>
    </th:block>
    <th:block layout:fragment="bodyFragment">
        <div class="main-contents-contents">
            <div class="wrap-top">
                <h1>
                    <span class="main-title menu6">파일전송 차단 현황</span>
                    <span class="sub-title">PC별 해킹 및 내부자 유출 차단 현황</span>
                </h1>
                <span class="btn-group">
                    <button class="btn-type1" onclick="S2Util.alert('준비 중입니다.');">기간 검색</button>
                    <button class="btn-type1" onclick="S2Util.alert('준비 중입니다.');">전체 현황 다운로드</button>
                </span>
            </div>
            <div class="wrap-contents">
                <div class="top">
                    <div class="c-flex-sty01 targetDate-wrap">
                        <span th:text="${searchStartDeStr}"></span>
                        <span>&nbsp;~&nbsp;</span>
                        <span th:text="${searchEndDeStr}"></span>
                    </div>
                </div>
                <div class="contents">
                    <div class="status-card">
                        <div class="card type1 many-on-many white">
                            <div class="title-box menu6-1 padding-left-0">
                                <div class="card-title">총 차단 수</div>
                                <div class="card-desc">외부 전송 중 차단 수</div>
                            </div>
                            <div class="card-content"><span>3,531</span>건</div>
                        </div>
                        <div class="card type1 many-on-many white">
                            <div class="title-box menu6-2 padding-left-0">
                                <div class="card-title">총 차단 파일 용량</div>
                                <div class="card-desc">외부 전송 중 파일 용량</div>
                            </div>
                            <div class="card-content"><span>1,277</span>MB</div>
                        </div>
                        <div class="card border"></div>
                        <div class="card type1 many-on-many mint">
                            <div class="title-box menu6-3">
                                <div class="card-title">정상</div>
                                <div class="card-desc">파일 전송 차단 이상 없음</div>
                            </div>
                            <div class="card-content"><span>31</span>건</div>
                        </div>
                        <div class="card type1 many-on-many tangerine">
                            <div class="title-box menu6-4">
                                <div class="card-title">점검</div>
                                <div class="card-desc">대량 차단 및 비 업무시간 차단</div>
                            </div>
                            <div class="card-content"><span>7</span>건</div>
                        </div>
                        <div class="card type1 many-on-many red">
                            <div class="title-box menu6-5">
                                <div class="card-title">경고</div>
                                <div class="card-desc">시간/패턴 이상 탐지</div>
                            </div>
                            <div class="card-content"><span>1</span>건</div>
                        </div>
                    </div>
                    <h2 class="type1">PC 별 파일 전송 차단 현황</h2>
                    <div class="table-wrap type1 maroon">
                        <table class="table-sty01">
                            <caption>
                                PC 별 파일 전송 차단 현황
                            </caption>
                            <thead>
                                <tr>
                                    <th>MAC 주소</th>
                                    <th>차단 건수</th>
                                    <th>차단 용량(MB)</th>
                                    <th>발생 채널</th>
                                    <th>업무시간 차단 수</th>
                                    <th>비업무시간 차단 수</th>
                                    <th>탐지 결과</th>
                                    <th>알림전송</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="8">데이터가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>
