<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout/basic/layout}">
    <th:block layout:fragment="bodyStyle"></th:block>
    <th:block layout:fragment="bodyScript">
        <script type="text/javascript">
            // eslint-disable-next-line no-unused-vars
            function initPage() {}

            // eslint-disable-next-line no-unused-vars
            function goPage(pageNo) {
                location.href = `/analysis/detection-file?pageNo=${pageNo}`;
            }

            /**
             * 업로드 파일 추가 UI
             * @param {FileList} fileList - 파일 목록
             */
            function addUploadFileUI(fileList) {
                const uploadFileList = document.querySelector('.upload-file-list');

                if (fileList.length > 0) {
                    document.querySelector('.file-upload .file-upload-box').classList.add('active');
                    document.querySelector('.file-upload .file-upload-icon').classList.add('d-none');

                    for (const file of fileList) {
                        uploadFileList.innerHTML += `
                            <li class="file-upload-ok">
                                <img class="checked-file" src="/public/images/icon_file_chk.png" alt="파일선택완료"/>
                                <div class="file-info">
                                    <div class="c-flex-sty02">
                                        <div class="file-border"></div>
                                        <div class="file-title file-name">${file.name}</div>
                                    </div>
                                    <div class="file-remove">
                                        <a onClick="deleteFile(this);"><img src="/public/images/icon_remove.png" alt="삭제아이콘"/></a>
                                    </div>
                                </div>
                            </li>
                        `;
                    }
                }
            }

            function initDropZone() {
                g_uploadFiles = [];
                const dropZone = document.querySelector('.file-upload .file-upload-box');
                const fileUpload = document.querySelector('.file-upload .file-upload');

                new S2DropZone({
                    dropZone: dropZone,
                    dragenter: function (event, dropZoneElement) {
                        dropZoneElement.classList.add('highlight');
                    },
                    dragover: function (event, dropZoneElement) {
                        dropZoneElement.classList.add('highlight');
                    },
                    dragleave: function (event, dropZoneElement) {
                        dropZoneElement.classList.remove('highlight');
                    },
                    drop: function (event, dropZoneElement, dropFiles) {
                        dropZoneElement.classList.remove('highlight');

                        if (dropFiles.length > 0 && checkFileExtension(dropFiles)) {
                            for (const file of dropFiles) {
                                g_uploadFiles.push(file);
                            }
                            addUploadFileUI(dropFiles);
                        }
                    }
                });

                // 파일 선택 버튼 클릭 이벤트
                const fileUploadButton = dropZone.querySelector('.file-upload-button');
                if (fileUploadButton) {
                    fileUploadButton.addEventListener('click', () => fileUpload.click());
                }

                // 파일 선택 이벤트
                if (fileUpload) {
                    fileUpload.addEventListener('change', () => {
                        if (fileUpload.files.length > 0 && checkFileExtension(fileUpload.files)) {
                            for (const file of fileUpload.files) {
                                g_uploadFiles.push(file);
                            }
                            addUploadFileUI(fileUpload.files);
                        }
                    });
                }
            }

            /**
             * 파일 삭제
             */
            // eslint-disable-next-line no-unused-vars
            function deleteFile(target) {
                const delElement = target.closest('li');

                const parentUl = delElement.parentElement;
                const allLiElements = Array.from(parentUl.children);
                const delIndex = allLiElements.indexOf(delElement);

                g_uploadFiles.splice(delIndex, 1);
                delElement.remove();

                if (g_uploadFiles.length === 0) {
                    document.querySelector('.file-upload .file-upload-box').classList.remove('active');
                    document.querySelector('.file-upload .file-upload-icon').classList.remove('d-none');
                }
            }
        </script>
    </th:block>
    <th:block layout:fragment="bodyFragment">
        <div class="main-contents-contents">
            <div class="wrap-top">
                <h1>
                    <span class="main-title menu7">서명파일 전송 현황</span>
                    <span class="sub-title">서명 파일의 외부 전송 처리 현황</span>
                </h1>
                <span class="btn-group">
                    <button class="btn-type1" onclick="S2Util.alert('준비 중입니다.');">기간 검색</button>
                    <button class="btn-type1" onclick="S2Util.alert('준비 중입니다.');">전체 현황 다운로드</button>
                </span>
            </div>
            <div class="wrap-contents">
                <div class="top">
                    <div class="c-flex-sty01 targetDate-wrap">
                        <span th:text="${searchStartDeStr}"></span>
                        <span>&nbsp;~&nbsp;</span>
                        <span th:text="${searchEndDeStr}"></span>
                    </div>
                </div>
                <div class="contents">
                    <div class="status-card">
                        <div class="card type1 many-on-many white small">
                            <div class="title-box menu7-1 padding-left-0">
                                <div class="card-title">전송한 총 파일 수</div>
                                <div class="card-desc">외부로 전송한 총 파일 수</div>
                            </div>
                            <div class="card-content"><span>3,531</span>건</div>
                        </div>
                        <div class="card type1 many-on-many white small">
                            <div class="title-box menu7-2 padding-left-0">
                                <div class="card-title">전송한 총 파일 용량</div>
                                <div class="card-desc">외부로 전송한 총 파일 용량</div>
                            </div>
                            <div class="card-content"><span>1,277</span>MB</div>
                        </div>
                        <div class="card border"></div>
                        <div class="card type1 many-on-many white small">
                            <div class="title-box menu7-3">
                                <div class="card-title">HTTPS 전송</div>
                                <div class="card-desc">메일/클라우드로 전송한 건수</div>
                            </div>
                            <div class="card-content"><span>749</span>건</div>
                        </div>
                        <div class="card type1 many-on-many white small">
                            <div class="title-box menu7-4">
                                <div class="card-title">USB 전송</div>
                                <div class="card-desc">USB로 전송한 건수</div>
                            </div>
                            <div class="card-content"><span>5,749</span>건</div>
                        </div>
                        <div class="card type1 many-on-many white small">
                            <div class="title-box menu7-5">
                                <div class="card-title">메신저 전송</div>
                                <div class="card-desc">카카오톡/라인 등으로 전송한 건수</div>
                            </div>
                            <div class="card-content"><span>652</span>건</div>
                        </div>
                        <div class="card type1 many-on-many white small">
                            <div class="title-box menu7-6">
                                <div class="card-title">프린터 전송</div>
                                <div class="card-desc">프린터로 출력한 건수</div>
                            </div>
                            <div class="card-content"><span>4,263</span>건</div>
                        </div>
                    </div>
                    <h2 class="type1">PC 별 서명파일 전송 처리 현황</h2>
                    <div class="table-wrap type1 dark-slate">
                        <table class="table-sty01">
                            <caption>
                                PC 별 서명파일 전송 처리 현황
                            </caption>
                            <thead>
                                <tr>
                                    <th>MAC 주소</th>
                                    <th>차단 건수</th>
                                    <th>차단 용량(MB)</th>
                                    <th>발생 채널</th>
                                    <th>업무시간 차단 수</th>
                                    <th>비업무시간 차단 수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${fileAnalysisListPagination.isEmpty}">
                                    <td colspan="6">데이터가 없습니다.</td>
                                </tr>
                                <tr th:each="fileAnalysis : ${fileAnalysisListPagination.dataList}">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination-wrapper">
                            <ul th:if="${fileAnalysisListPagination.isNotEmpty}" class="pagination">
                                <li th:if="${fileAnalysisListPagination.firstPageNoOnPageList gt 1}" class="paginate_button prev">
                                    <a href="#" th:onclick="goPage([[${fileAnalysisListPagination.firstPageNoOnPageList - 1}]])">&lt;</a>
                                </li>
                                <th:block th:each="pageNo : ${#numbers.sequence(fileAnalysisListPagination.firstPageNoOnPageList, fileAnalysisListPagination.lastPageNoOnPageList)}">
                                    <li th:if="${pageNo eq fileAnalysisListPagination.pageNo}" class="paginate_button active">
                                        <a href="#" th:text="${pageNo}"></a>
                                    </li>
                                    <li th:if="${pageNo ne fileAnalysisListPagination.pageNo}" class="paginate_button">
                                        <a href="#" th:onclick="goPage([[${pageNo}]])" th:text="${pageNo}"></a>
                                    </li>
                                </th:block>
                                <li th:if="${fileAnalysisListPagination.lastPageNoOnPageList lt fileAnalysisListPagination.lastPageNo}" class="paginate_button next">
                                    <a href="#" th:onclick="goPage([[${fileAnalysisListPagination.lastPageNoOnPageList + 1}]])">&gt;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>
