<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout/basic/layout}">
    <th:block layout:fragment="bodyStyle"></th:block>
    <th:block layout:fragment="bodyScript">
        <script type="text/javascript">
            // eslint-disable-next-line no-unused-vars
            function initPage() {}

            // eslint-disable-next-line no-unused-vars
            function goPage(pageNo) {
                location.href = `/analysis/detection-file?pageNo=${pageNo}`;
            }
        </script>
    </th:block>
    <th:block layout:fragment="bodyFragment">
        <div class="main-contents-contents">
            <div class="wrap-top">
                <h1>
                    <span class="main-title menu4">데이터 복호화 현황</span>
                    <span class="sub-title">PC별 데이터 복호화 처리 현황</span>
                </h1>
                <span class="btn-group">
                    <button class="btn-type1" onclick="S2Util.alert('준비 중입니다.');">기간 검색</button>
                    <button class="btn-type1" onclick="S2Util.alert('준비 중입니다.');">전체 현황 다운로드</button>
                </span>
            </div>
            <div class="wrap-contents">
                <div class="top">
                    <div class="c-flex-sty01 targetDate-wrap">
                        <span th:text="${searchStartDeStr}"></span>
                        <span>&nbsp;~&nbsp;</span>
                        <span th:text="${searchEndDeStr}"></span>
                    </div>
                </div>
                <div class="contents">
                    <div class="status-card">
                        <div class="card type1 white">
                            <div class="title-box menu4-1 padding-left-0">
                                <div class="card-title">복호화 처리 총 건수</div>
                                <div class="card-desc">PC별 복호화 처리 총 합계</div>
                            </div>
                            <div class="card-content"><span>3,531</span>건</div>
                        </div>
                        <div class="card type1 mint">
                            <div class="title-box menu4-2">
                                <div class="card-title">정상</div>
                                <div class="card-desc">복호화 요청 이상 없음</div>
                            </div>
                            <div class="card-content"><span>31</span>건</div>
                        </div>
                        <div class="card type1 tangerine">
                            <div class="title-box menu4-3">
                                <div class="card-title">점검</div>
                                <div class="card-desc">대량 요청 및 비 업무시간 요청</div>
                            </div>
                            <div class="card-content"><span>7</span>건</div>
                        </div>
                        <div class="card type1 red">
                            <div class="title-box menu4-4">
                                <div class="card-title">경고</div>
                                <div class="card-desc">시간/패턴 이상 탐지</div>
                            </div>
                            <div class="card-content"><span>1</span>건</div>
                        </div>
                    </div>
                    <h2 class="type1">PC별 복호화 처리 현황</h2>
                    <div class="table-wrap type1 teal-blue">
                        <table class="table-sty01">
                            <caption>
                                PC별 복호화 처리 현황
                            </caption>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>복호화 요청 수</th>
                                    <th>유형</th>
                                    <th>업무시간 요청 수</th>
                                    <th>비업무시간 요청 수</th>
                                    <th>탐지 결과</th>
                                    <th>알림 전송</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7">데이터가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>
