<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout/basic/layout}">
    <th:block layout:fragment="bodyStyle"></th:block>
    <th:block layout:fragment="bodyScript">
        <script type="text/javascript">
            // eslint-disable-next-line no-unused-vars
            function initPage() {}

            // eslint-disable-next-line no-unused-vars
            function goPage(pageNo) {
                const searchGroupingType = document.querySelector('input[name="searchGroupingType"]:checked').value;
                location.href = `/analysis/system-transfer?pageNo=${pageNo}&searchGroupingType=${searchGroupingType}`;
            }
        </script>
    </th:block>
    <th:block layout:fragment="bodyFragment">
        <div class="main-contents-contents">
            <div class="wrap-top">
                <h1>
                    <span class="main-title menu8">시스템 파일 전송 현황</span>
                    <span class="sub-title">정책상 허용된 5MB 이하 시스템 파일의 전송 현황</span>
                </h1>
                <span class="btn-group">
                    <button class="btn-type1" onclick="S2Util.alert('준비 중입니다.');">기간 검색</button>
                    <button class="btn-type1" onclick="S2Util.alert('준비 중입니다.');">전체 현황 다운로드</button>
                </span>
            </div>
            <div class="wrap-contents">
                <div class="top">
                    <div class="c-flex-sty01 targetDate-wrap">
                        <span th:text="${searchStartDeStr}"></span>
                        <span>&nbsp;~&nbsp;</span>
                        <span th:text="${searchEndDeStr}"></span>
                    </div>
                </div>
                <div class="contents">
                    <div class="status-card">
                        <div class="card type1 many-on-many white">
                            <div class="title-box menu6-1 padding-left-0">
                                <div class="card-title">전송한 총 파일 수</div>
                                <div class="card-desc">외부로 전송한 총 파일 수</div>
                            </div>
                            <div class="card-content"><span th:text="${#numbers.formatInteger(fileOutboundHistListStatus.totalFileCount, 0, 'COMMA')}">0</span>건</div>
                        </div>
                        <div class="card type1 many-on-many white">
                            <div class="title-box menu6-2 padding-left-0">
                                <div class="card-title">전송한 총 파일 용량</div>
                                <div class="card-desc">외부로 전송한 총 파일 용량</div>
                            </div>
                            <div class="card-content"><span th:text="${#numbers.formatDecimal(fileOutboundHistListStatus.totalFileSize / 1024.0 / 1024.0, 1, 'COMMA', 2, 'POINT')}">0</span>MB</div>
                        </div>
                        <div class="card border"></div>
                        <div class="card type1 many-on-many mint">
                            <div class="title-box menu6-3">
                                <div class="card-title">정상</div>
                                <div class="card-desc">파일 전송 이상 없음</div>
                            </div>
                            <div class="card-content"><span th:text="${#numbers.formatInteger(fileOutboundHistListStatus.activeCount, 0, 'COMMA')}">0</span>건</div>
                        </div>
                        <div class="card type1 many-on-many tangerine">
                            <div class="title-box menu6-4">
                                <div class="card-title">점검</div>
                                <div class="card-desc">대량 전송 및 비 업무시간 전송</div>
                            </div>
                            <div class="card-content"><span th:text="${#numbers.formatInteger(fileOutboundHistListStatus.checkCount, 0, 'COMMA')}">0</span>건</div>
                        </div>
                        <div class="card type1 many-on-many red">
                            <div class="title-box menu6-5">
                                <div class="card-title">경고</div>
                                <div class="card-desc">시간/패턴 이상 탐지</div>
                            </div>
                            <div class="card-content"><span th:text="${#numbers.formatInteger(fileOutboundHistListStatus.alertCount, 0, 'COMMA')}">0</span>건</div>
                        </div>
                    </div>
                    <h2 class="type1 c-dp-inline-block">PC 별 시스템 파일 전송 현황</h2>
                    <div class="c-dp-inline-block c-ma-l10 c-color-white">
                        <input type="radio" name="searchGroupingType" class="c-cursor-pointer" id="searchGroupingType_user" value="user" th:checked="${searchGroupingType == 'user'}" th:onchange="goPage([[${fileOutboundHistListPagination.pageNo}]])" />
                        <label for="searchGroupingType_user" class="c-cursor-pointer">사용자</label>
                        <input type="radio" name="searchGroupingType" class="c-cursor-pointer" id="searchGroupingType_channel" value="channel" th:checked="${searchGroupingType == 'channel'}" th:onchange="goPage([[${fileOutboundHistListPagination.pageNo}]])" />
                        <label for="searchGroupingType_channel" class="c-cursor-pointer">채널</label>
                    </div>
                    <div class="table-wrap type1">
                        <table class="table-sty01">
                            <caption>
                                PC 별 시스템 파일 전송 현황
                            </caption>
                            <thead>
                                <tr>
                                    <th th:text="${searchGroupingType == 'channel' ? '채널' : '사용자 ID'}">사용자 ID</th>
                                    <th class="c-width-12p">전송 건수</th>
                                    <th class="c-width-12p">전송 용량(MB)</th>
                                    <th class="c-width-12p">전송 파일 개수</th>
                                    <th class="c-width-12p">업무시간 전송 수</th>
                                    <th class="c-width-12p">비업무시간 전송 수</th>
                                    <th class="c-width-10p">탐지 결과</th>
                                    <th class="c-width-10p">알림전송</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${fileOutboundHistListPagination.isEmpty}">
                                    <td colspan="8">데이터가 없습니다.</td>
                                </tr>
                                <tr th:each="fileOutboundBlockingHist : ${fileOutboundHistListPagination.dataList}">
                                    <td th:text="${searchGroupingType == 'channel' ? fileOutboundBlockingHist.outboundChannelCcd : fileOutboundBlockingHist.userId}"></td>
                                    <td th:text="${#numbers.formatInteger(fileOutboundBlockingHist.actionCount, 0, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatDecimal(fileOutboundBlockingHist.totalFileSize / 1024.0 / 1024.0, 1, 'COMMA', 2, 'POINT')}"></td>
                                    <td th:text="${#numbers.formatInteger(fileOutboundBlockingHist.totalFileCount, 0, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(fileOutboundBlockingHist.workingHourStatusNormalCount, 0, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(fileOutboundBlockingHist.workingHourStatusAbnormalCount, 0, 'COMMA')}"></td>
                                    <td th:class="${fileOutboundBlockingHist.conditionLevel}" th:text="${fileOutboundBlockingHist.conditionLevel}"></td>
                                    <td>
                                        <button th:if="${fileOutboundBlockingHist.conditionLevel != '정상'}" class="table-btn-sty01" th:onclick="S2Util.alert('준비 중입니다.');">전송</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination-wrapper">
                            <ul th:if="${fileOutboundHistListPagination.isNotEmpty}" class="pagination">
                                <li th:if="${fileOutboundHistListPagination.firstPageNoOnPageList gt 1}" class="paginate_button prev">
                                    <a href="#" th:onclick="goPage([[${fileOutboundHistListPagination.firstPageNoOnPageList - 1}]])">&lt;</a>
                                </li>
                                <th:block th:each="pageNo : ${#numbers.sequence(fileOutboundHistListPagination.firstPageNoOnPageList, fileOutboundHistListPagination.lastPageNoOnPageList)}">
                                    <li th:if="${pageNo eq fileOutboundHistListPagination.pageNo}" class="paginate_button active">
                                        <a href="#" th:text="${pageNo}"></a>
                                    </li>
                                    <li th:if="${pageNo ne fileOutboundHistListPagination.pageNo}" class="paginate_button">
                                        <a href="#" th:onclick="goPage([[${pageNo}]])" th:text="${pageNo}"></a>
                                    </li>
                                </th:block>
                                <li th:if="${fileOutboundHistListPagination.lastPageNoOnPageList lt fileOutboundHistListPagination.lastPageNo}" class="paginate_button next">
                                    <a href="#" th:onclick="goPage([[${fileOutboundHistListPagination.lastPageNoOnPageList + 1}]])">&gt;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>
