<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout/basic/layout}">
    <th:block layout:fragment="bodyScript">
        <script th:src="@{/public/js/echarts.min.js}"></script>
        <script type="text/javascript">
            const doughnutChart = {};
            const semicircleChart = {};
            const lineChart = {};
            const pieChart = {};

            const doughnutChartInfo = {
                // 분석 현황
                analysis: {
                    text: '분석',
                    count: 0,
                    totalCount: 0,
                    color: '#6eb7ff'
                },
                // 탐지 현황
                detection: {
                    text: '탐지',
                    count: 0,
                    totalCount: 0,
                    color: '#04f0fb'
                },
                // 마스킹 현황
                masking: {
                    text: '마스킹',
                    count: 0,
                    totalCount: 0,
                    color: '#b4b4fc'
                },
                // 언마스킹 현황
                unmasking: {
                    text: '언마스킹',
                    count: 0,
                    totalCount: 0,
                    color: '#5eefa6'
                }
            };

            const semicircleChartInfo = {
                // 국내 접속자 탐지 현황
                // 한국 내부로 임시 변경(!!s2!!)
                koreaDetectionStatus: {
                    text: '내부',
                    low: 0,
                    mid: 0,
                    high: 0,
                    color1: '#04e6f9',
                    color2: '#096fdb',
                    backColor: '#61082b'
                }
            };

            const semicircleChartInfo2 = {
                // 첨부 파일 외부 전송 현황
                mailOutboundStatus: {
                    text: '전송 수',
                    sentCount: 0,
                    fileCount: 0,
                    fileSize: 0,
                    blockedCount: 0,
                    color1: '#04e6f9',
                    color2: '#096fdb',
                    backColor: '#61082b'
                }
            };

            const lineChartInfo = {
                // 실시간 분석 현황
                realtimeAnalysisStatus: {
                    xAxisSeriesMaxCount: 30, // 29분 전부터 현재까지 1분 간격으로 생성 (총 30분)
                    yAxisRangeMax: 5,
                    requestCountInfo: {},
                    completeCountInfo: {},
                    lastAnalysisCompleteDateTimeStr: ''
                }
            };

            // const pieChartInfo = {
            //     // 전송 채널 현황
            //     transmissionChannelStatus: {
            //         color: ['#5070dd', '#b6d634', '#505372', '#ff994d', '#0ca8df', '#ffd10a', '#fb628b', '#785db0', '#3fbe95']
            //     }
            // };

            // LLM 이 분석한 파일 정보
            const fileDetectionInfo = {
                fileSize: 0,
                fileCount: 0
            };

            document.addEventListener('DOMContentLoaded', () => {
                initDoughnutChart();
                initSemicircleChart();
                initSemicircleChart2();
                initLineChart();
                initPieChart();

                document.querySelector('.targetDate').textContent = dayjs().format('YYYY년 MM월 DD일');

                getAnalysisStatistics();

                S2Util.subscribeServiceWorker('[[${pl_webpush_s2_key_public}]]');
            });

            navigator.serviceWorker.addEventListener('message', (event) => {
                const vConsole = sessionStorage.getItem('console');
                if (vConsole === 'on' || vConsole === 'all') {
                    const vConsoleType = sessionStorage.getItem('consoleType');
                    if (!vConsoleType || vConsoleType === 'all' || vConsoleType === event.data.type) {
                        // eslint-disable-next-line no-console
                        console.log('ReceiveServiceWorker Data', event.data);
                    }
                }

                const realtimeAnalysisStatus = lineChartInfo.realtimeAnalysisStatus;

                switch (event.data.type) {
                    case '[[${@Constants.CD_PUSH_TYPE_ANALYSIS_REQUEST}]]':
                        // 분석 요청
                        const requestCount = event.data.data.count;
                        if (requestCount > 0) {
                            const previousRequestCount = realtimeAnalysisStatus.requestCountInfo[event.data.data.createDtStr] || 0;
                            realtimeAnalysisStatus.requestCountInfo[event.data.data.createDtStr] = previousRequestCount + requestCount;
                            updateLineChart();
                        }
                        break;
                    case '[[${@Constants.CD_PUSH_TYPE_ANALYSIS_COMPLETE}]]':
                        // 분석 완료
                        doughnutChartInfo.analysis.count++;
                        doughnutChartInfo.analysis.totalCount++;
                        doughnutChartInfo.detection.totalCount++;

                        if (event.data.data.totalDetectionCount > 0) {
                            doughnutChartInfo.detection.count++;

                            if (event.data.data.analysisModeCcd.startsWith('[[${@Constants.CD_ANALYSIS_MODE_PROXY}]]')) {
                                // if (event.data.data.countryCcd === '[[${@Constants.CD_COUNTRY_KR}]]') {
                                // 국내를 내부로 해외를 외부로 임시 변경(!!s2!!)
                                if (event.data.data.analysisModeSe === '[[${@Constants.CD_ANALYSIS_MODE_PROXY_REVERSE}]]') {
                                    semicircleChartInfo.koreaDetectionStatus.low += event.data.data['[[${@Constants.CD_DETECTION_TYPE_LOW}]]'] || 0;
                                    semicircleChartInfo.koreaDetectionStatus.mid += event.data.data['[[${@Constants.CD_DETECTION_TYPE_MID}]]'] || 0;
                                    semicircleChartInfo.koreaDetectionStatus.high += event.data.data['[[${@Constants.CD_DETECTION_TYPE_HIGH}]]'] || 0;
                                }

                                updateSemicircleChartAll();
                            }
                        }

                        updateDoughnutChart('analysis');
                        updateDoughnutChart('detection');

                        // 실시간 분석 현황도 업데이트 한다.
                        const previousCompleteCount = realtimeAnalysisStatus.completeCountInfo[event.data.data.createDtStr] || 0;
                        realtimeAnalysisStatus.completeCountInfo[event.data.data.createDtStr] = previousCompleteCount + 1;
                        if (!realtimeAnalysisStatus.lastAnalysisCompleteDateTimeStr || realtimeAnalysisStatus.lastAnalysisCompleteDateTimeStr < event.data.data.createDtStr) {
                            // 최종 분석 완료된 일시 업데이트
                            realtimeAnalysisStatus.lastAnalysisCompleteDateTimeStr = event.data.data.createDtStr;
                        }
                        updateLineChart();
                        break;
                    case '[[${@Constants.CD_PUSH_TYPE_MASKING}]]':
                        // 마스킹
                        const maskCount = event.data.data.count;
                        if (maskCount > 0) {
                            let maskChartDataChanged = false;

                            switch (event.data.data.maskModeCcd) {
                                case 'mask':
                                    doughnutChartInfo.masking.count += maskCount;
                                    maskChartDataChanged = true;
                                    break;
                                case 'unmask':
                                    doughnutChartInfo.unmasking.count += maskCount;
                                    maskChartDataChanged = true;
                                    break;
                            }

                            if (maskChartDataChanged) {
                                doughnutChartInfo.masking.totalCount += maskCount;
                                doughnutChartInfo.unmasking.totalCount += maskCount;
                                updateDoughnutChart('masking');
                                updateDoughnutChart('unmasking');
                            }
                        }
                        break;
                    case '[[${@Constants.CD_PUSH_TYPE_FILE_OUTBOUND}]]':
                        // 파일 외부전송 탐지 현황
                        if (event.data.data['outboundStatusCcd'] === '[[${@Constants.CD_OUTBOUND_STATUS_SENT}]]') {
                            semicircleChartInfo2.mailOutboundStatus.sentCount++;
                            semicircleChartInfo2.mailOutboundStatus.fileCount += Number(event.data.data['fileCount'] || 0);
                            semicircleChartInfo2.mailOutboundStatus.fileSize += Number(event.data.data['totalFileSize'] || 0);
                        } else {
                            semicircleChartInfo2.mailOutboundStatus.blockedCount++;
                        }

                        updateSemicircleChart2();
                        break;
                    case '[[${@Constants.CD_PUSH_TYPE_FILE_DETECTION}]]':
                        // LLM이 분석한 파일 정보
                        fileDetectionInfo.fileSize += event.data.data.totalFileSize || 0;
                        fileDetectionInfo.fileCount += event.data.data.fileCount || 0;
                        updateFileDetectionInfo();
                        break;
                }
            });

            function getAnalysisStatistics() {
                S2Util.fetch(
                    // '[[@{/dashboard/analysis-statistics}]]',
                    '[[@{/dashboard/analysis-statistics2}]]',
                    {
                        method: 'get',
                        dataType: 'json'
                    },
                    function (response) {
                        {
                            const analysisData = response.analysisData;

                            // 분석
                            doughnutChartInfo['analysis'].count = analysisData.completeCount;
                            doughnutChartInfo['analysis'].totalCount = analysisData.requestCount;
                            // 탐지
                            doughnutChartInfo['detection'].count = analysisData.detectionCount;
                            doughnutChartInfo['detection'].totalCount = analysisData.totalDetectionCount;

                            // 마스킹(언마스킹)
                            const maskingDataArray = response.maskingData;
                            if (maskingDataArray) {
                                let totalMaskingCount = 0;
                                let maskingCount = 0;
                                let unmaskingCount = 0;

                                for (maskingData of maskingDataArray) {
                                    totalMaskingCount += maskingData.maskCount;
                                    switch (maskingData.maskModeCcd) {
                                        case 'mask':
                                            maskingCount = maskingData.maskCount;
                                            break;
                                        case 'unmask':
                                            unmaskingCount = maskingData.maskCount;
                                            break;
                                    }
                                }

                                doughnutChartInfo['masking'].count = maskingCount;
                                doughnutChartInfo['masking'].totalCount = totalMaskingCount;
                                doughnutChartInfo['unmasking'].count = unmaskingCount;
                                doughnutChartInfo['unmasking'].totalCount = totalMaskingCount;
                            }

                            updateDoughnutChartAll();
                        }

                        {
                            const detectionData = response.detectionData;

                            // 국내 접속자 탐지 현황 => 내부로 임시 변경(!!s2!!)
                            semicircleChartInfo['koreaDetectionStatus'].low = detectionData.koreaLowCount;
                            semicircleChartInfo['koreaDetectionStatus'].mid = detectionData.koreaMidCount;
                            semicircleChartInfo['koreaDetectionStatus'].high = detectionData.koreaHighCount;

                            updateSemicircleChartAll();
                        }

                        {
                            // 첨부 파일 외부 전송 현황
                            const fileOutboundHistInfoList = response.fileOutboundHistInfoList;
                            if (fileOutboundHistInfoList) {
                                for (const fileOutboundHistInfo of fileOutboundHistInfoList) {
                                    switch (fileOutboundHistInfo.outboundStatusCcd) {
                                        case '[[${@Constants.CD_OUTBOUND_STATUS_SENT}]]':
                                            semicircleChartInfo2.mailOutboundStatus.sentCount = fileOutboundHistInfo.outboundHistCount || 0;
                                            semicircleChartInfo2.mailOutboundStatus.fileCount += fileOutboundHistInfo.outboundFileCount || 0;
                                            semicircleChartInfo2.mailOutboundStatus.fileSize += fileOutboundHistInfo.outboundFileSize || 0;
                                            break;
                                        case '[[${@Constants.CD_OUTBOUND_STATUS_BLOCKED}]]':
                                            semicircleChartInfo2.mailOutboundStatus.blockedCount = fileOutboundHistInfo.outboundHistCount || 0;
                                            break;
                                    }
                                }

                                updateSemicircleChart2();
                            }
                        }

                        {
                            // 실시간 분석 현황
                            const realtimeData = response.realtimeData;
                            const xAxisData = [];

                            const realtimeAnalysisStatus = lineChartInfo['realtimeAnalysisStatus'];

                            for (let i = 0; i < realtimeAnalysisStatus.xAxisSeriesMaxCount; i++) {
                                // 현재부터 29분전까지
                                const date = dayjs()
                                    .subtract(29 - i, 'minute')
                                    .format('YYYYMMDDHHmm');
                                xAxisData.push(date);
                            }

                            // 데이터 맵핑을 위해 minuteGroup 을 키로 하는 Map 생성
                            const dataMap = {};
                            realtimeData.forEach((item) => {
                                dataMap[item.minuteGroup] = item;
                            });

                            // 최종 분석완료 일시
                            realtimeAnalysisStatus.lastAnalysisCompleteDateTimeStr = response.lastAnalysisCompleteDateTimeStr;

                            // xAxisData를 기준으로 값 할당 (없으면 0)
                            xAxisData.forEach((dateKey) => {
                                realtimeAnalysisStatus.requestCountInfo[dateKey] = dataMap[dateKey]?.requestCount || 0;
                                // 분석 완료 차트는 최종 분석완료 일시를 포함한 이전에만 데이터를 넣는다.
                                realtimeAnalysisStatus.completeCountInfo[dateKey] = realtimeAnalysisStatus.lastAnalysisCompleteDateTimeStr && realtimeAnalysisStatus.lastAnalysisCompleteDateTimeStr >= dateKey ? dataMap[dateKey]?.completeCount || 0 : null;
                            });

                            // 최초 분석 현황 조회 이후 변경되는 데이터에 따라 차트 업데이트
                            updateLineChart();
                            setInterval(() => {
                                updateLineChart();
                            }, 1000);
                        }

                        {
                            // LLM이 분석한 파일 정보
                            const fileAnalysisInfo = response.fileAnalysisInfo;
                            fileDetectionInfo.fileSize = fileAnalysisInfo.analysisFileSize;
                            fileDetectionInfo.fileCount = fileAnalysisInfo.analysisFileCount;
                            updateFileDetectionInfo();
                        }
                    }
                );
            }

            function initDoughnutChart() {
                doughnutChart['analysis'] = echarts.init(document.getElementById('doughnutChart1'));
                doughnutChart['detection'] = echarts.init(document.getElementById('doughnutChart2'));
                doughnutChart['masking'] = echarts.init(document.getElementById('doughnutChart3'));
                doughnutChart['unmasking'] = echarts.init(document.getElementById('doughnutChart4'));

                for (const targetChartName in doughnutChartInfo) {
                    const chartInfo = doughnutChartInfo[targetChartName];

                    doughnutChart[targetChartName].setOption({
                        title: {
                            text: null,
                            left: 'center',
                            top: 'center',
                            textStyle: {
                                fontSize: 18,
                                fontWeight: 'bold',
                                color: '#fff',
                                fontFamily: 'Pretendard'
                            }
                        },
                        series: [
                            {
                                type: 'pie',
                                radius: ['65%', '90%'],
                                avoidLabelOverlap: false,
                                label: {
                                    show: false,
                                    position: 'center'
                                },
                                labelLine: {
                                    show: false
                                },
                                data: [
                                    {
                                        value: null,
                                        name: 'value',
                                        itemStyle: {color: chartInfo.color}
                                    },
                                    {
                                        value: 0,
                                        name: 'rest',
                                        itemStyle: {color: '#858688', opacity: 1}
                                    }
                                ]
                            }
                        ]
                    });
                }
            }

            function updateDoughnutChartAll() {
                for (const targetChartName in doughnutChartInfo) {
                    updateDoughnutChart(targetChartName);
                }
            }

            function updateDoughnutChart(targetChartName) {
                const chartInfo = doughnutChartInfo[targetChartName];
                const count = chartInfo.count;
                const totalCount = chartInfo.totalCount;

                doughnutChart[targetChartName].setOption(
                    {
                        title: {text: count.toLocaleString('ko-KR')},
                        series: [
                            {
                                data: [
                                    {
                                        value: count ? count : null,
                                        name: 'value',
                                        itemStyle: {color: chartInfo.color}
                                    },
                                    {
                                        value: totalCount - count,
                                        name: 'rest',
                                        itemStyle: {color: '#858688', opacity: 1}
                                    }
                                ]
                            }
                        ]
                    },
                    false // false로 설정하여 기존 값은 유지);
                );
            }

            function initSemicircleChart() {
                semicircleChart['koreaDetectionStatus'] = echarts.init(document.getElementById('semicircleChart1'));
                const count = 0;
                const totalCount = 0;

                for (const targetChartName in semicircleChartInfo) {
                    const chartInfo = semicircleChartInfo[targetChartName];

                    semicircleChart[targetChartName].setOption({
                        title: [
                            {
                                text: chartInfo.text,
                                left: 'center',
                                top: '40%',
                                textStyle: {
                                    color: '#fff',
                                    fontSize: 20,
                                    fontWeight: 'bold',
                                    fontFamily: 'Pretendard'
                                }
                            }
                        ],
                        graphic: [
                            {
                                type: 'line',
                                left: 'center',
                                top: '65%',
                                shape: {
                                    x1: -75,
                                    y1: 0,
                                    x2: 75,
                                    y2: 0
                                },
                                style: {
                                    stroke: chartInfo.color2,
                                    lineWidth: 1,
                                    shadowBlur: 0
                                }
                            },
                            {
                                type: 'text',
                                left: 'center',
                                top: '74%',
                                style: {
                                    text: `{big|0}{small|건}`,
                                    rich: {
                                        big: {
                                            fontSize: 28,
                                            fontWeight: 'bold',
                                            fill: '#fff',
                                            fontFamily: 'Pretendard'
                                        },
                                        small: {
                                            fontSize: 16,
                                            fontWeight: '300',
                                            fill: '#fff',
                                            padding: [5, 0, 0, 4],
                                            fontFamily: 'Pretendard'
                                        }
                                    }
                                }
                            }
                        ],
                        series: [
                            {
                                type: 'pie',
                                radius: ['70%', '100%'],
                                center: ['50%', '58%'],
                                startAngle: 180,
                                endAngle: 0,
                                avoidLabelOverlap: false,
                                label: {show: false},
                                labelLine: {show: false},
                                data: [
                                    {
                                        value: count,
                                        itemStyle: {
                                            color: {
                                                type: 'linear',
                                                x: 0,
                                                y: 0,
                                                x2: 1,
                                                y2: 0,
                                                colorStops: [
                                                    {offset: 0, color: chartInfo.color1},
                                                    {offset: 1, color: chartInfo.color2}
                                                ]
                                            }
                                        }
                                    }, // 실제 값
                                    {value: totalCount - count, itemStyle: {color: chartInfo.backColor}} // 변경 필요 (100)
                                ]
                            }
                        ]
                    });
                }
            }

            function initSemicircleChart2() {
                semicircleChart['mailOutboundStatus'] = echarts.init(document.getElementById('semicircleChart2'));
                const count = 0;
                const totalCount = 0;

                for (const targetChartName in semicircleChartInfo2) {
                    const chartInfo = semicircleChartInfo2[targetChartName];

                    semicircleChart[targetChartName].setOption({
                        title: [
                            {
                                text: chartInfo.text,
                                left: 'center',
                                top: '40%',
                                textStyle: {
                                    color: '#fff',
                                    fontSize: 20,
                                    fontWeight: 'bold',
                                    fontFamily: 'Pretendard'
                                }
                            }
                        ],
                        graphic: [
                            {
                                type: 'line',
                                left: 'center',
                                top: '65%',
                                shape: {
                                    x1: -75,
                                    y1: 0,
                                    x2: 75,
                                    y2: 0
                                },
                                style: {
                                    stroke: chartInfo.color2,
                                    lineWidth: 1,
                                    shadowBlur: 0
                                }
                            },
                            {
                                type: 'text',
                                left: 'center',
                                top: '74%',
                                style: {
                                    text: `{big|0}{small|건}`,
                                    rich: {
                                        big: {
                                            fontSize: 28,
                                            fontWeight: 'bold',
                                            fill: '#fff',
                                            fontFamily: 'Pretendard'
                                        },
                                        small: {
                                            fontSize: 16,
                                            fontWeight: '300',
                                            fill: '#fff',
                                            padding: [5, 0, 0, 4],
                                            fontFamily: 'Pretendard'
                                        }
                                    }
                                }
                            }
                        ],
                        series: [
                            {
                                type: 'pie',
                                radius: ['70%', '100%'],
                                center: ['50%', '58%'],
                                startAngle: 180,
                                endAngle: 0,
                                avoidLabelOverlap: false,
                                label: {show: false},
                                labelLine: {show: false},
                                data: [
                                    {
                                        value: count,
                                        itemStyle: {
                                            color: {
                                                type: 'linear',
                                                x: 0,
                                                y: 0,
                                                x2: 1,
                                                y2: 0,
                                                colorStops: [
                                                    {offset: 0, color: chartInfo.color1},
                                                    {offset: 1, color: chartInfo.color2}
                                                ]
                                            }
                                        }
                                    }, // 실제 값
                                    {value: totalCount - count, itemStyle: {color: chartInfo.backColor}} // 변경 필요 (100)
                                ]
                            }
                        ]
                    });
                }
            }

            function updateSemicircleChartAll() {
                let totalCount = 0;

                for (const targetChartName in semicircleChartInfo) {
                    const chartInfo = semicircleChartInfo[targetChartName];

                    document.querySelector(`.${targetChartName} .low-count`).textContent = chartInfo.low.toLocaleString('ko-KR');
                    document.querySelector(`.${targetChartName} .mid-count`).textContent = chartInfo.mid.toLocaleString('ko-KR');
                    document.querySelector(`.${targetChartName} .high-count`).textContent = chartInfo.high.toLocaleString('ko-KR');

                    totalCount += chartInfo.low + chartInfo.mid + chartInfo.high;
                }

                for (const targetChartName in semicircleChartInfo) {
                    const chartInfo = semicircleChartInfo[targetChartName];
                    const count = chartInfo.low + chartInfo.mid + chartInfo.high;

                    semicircleChart[targetChartName].setOption(
                        {
                            graphic: [
                                {},
                                {
                                    style: {
                                        text: `{big|${count.toLocaleString('ko-KR')}}{small|건}`
                                    }
                                }
                            ],
                            series: [
                                {
                                    data: [
                                        {
                                            value: count,
                                            itemStyle: {
                                                color: {
                                                    colorStops: [
                                                        {
                                                            offset: 0,
                                                            color: chartInfo.color1
                                                        },
                                                        {
                                                            offset: 1,
                                                            color: chartInfo.color2
                                                        }
                                                    ]
                                                }
                                            }
                                        }, // 실제 값
                                        {
                                            value: totalCount - count,
                                            itemStyle: {color: chartInfo.backColor}
                                        } // 변경 필요 (100)
                                    ]
                                }
                            ]
                        },
                        false // false로 설정하여 기존 값은 유지
                    );
                }
            }

            function updateSemicircleChart2() {
                const fileKilobyte = semicircleChartInfo2.mailOutboundStatus.fileSize > 0 ? (semicircleChartInfo2.mailOutboundStatus.fileSize / 1024).toFixed(1) : 0;

                document.querySelector('.overseasDetectionStatus .file-count').textContent = semicircleChartInfo2.mailOutboundStatus.fileCount.toLocaleString('ko-KR');
                document.querySelector('.overseasDetectionStatus .file-size').textContent = fileKilobyte.toLocaleString('ko-KR');
                document.querySelector('.overseasDetectionStatus .blocked-count').textContent = semicircleChartInfo2.mailOutboundStatus.blockedCount.toLocaleString('ko-KR');

                let totalCount = semicircleChartInfo2.mailOutboundStatus.sentCount + semicircleChartInfo2.mailOutboundStatus.blockedCount;
                let count = semicircleChartInfo2.mailOutboundStatus.sentCount;

                semicircleChart['mailOutboundStatus'].setOption(
                    {
                        graphic: [
                            {},
                            {
                                style: {
                                    text: `{big|${count.toLocaleString('ko-KR')}}{small|건}`
                                }
                            }
                        ],
                        series: [
                            {
                                data: [
                                    {
                                        value: count,
                                        itemStyle: {
                                            color: {
                                                colorStops: [
                                                    {
                                                        offset: 0,
                                                        color: semicircleChartInfo2.mailOutboundStatus.color1
                                                    },
                                                    {
                                                        offset: 1,
                                                        color: semicircleChartInfo2.mailOutboundStatus.color2
                                                    }
                                                ]
                                            }
                                        }
                                    }, // 실제 값
                                    {
                                        value: totalCount - count,
                                        itemStyle: {color: semicircleChartInfo2.mailOutboundStatus.backColor}
                                    } // 변경 필요 (100)
                                ]
                            }
                        ]
                    },
                    false // false로 설정하여 기존 값은 유지
                );
            }

            function initLineChart() {
                lineChart['realtimeAnalysis'] = echarts.init(document.getElementById('lineChart'));

                const chartInfo = lineChartInfo['realtimeAnalysisStatus'];

                const option = {
                    grid: {left: 50, right: 30, top: 20, bottom: 30},
                    tooltip: {
                        trigger: 'axis',
                        // axisPointer: { type: 'cross' },
                        formatter: function (params) {
                            const date = dayjs(params[0].value[0]).format('YYYY-MM-DD HH:mm');
                            const value = params[0].value[1];
                            return `${date}<br/>${value}건`;
                        }
                    },
                    xAxis: {
                        type: 'time',
                        // max: now,
                        // min: new Date(now.getTime() - 60 * 60 * 1000),
                        boundaryGap: false,
                        axisLine: {show: false},
                        axisTick: {show: false},
                        axisLabel: {
                            interval: 0,
                            color: '#fff',
                            fontSize: 12,
                            margin: 10,
                            formatter: function (value) {
                                return dayjs(value).format('HH:mm');
                            }
                        },
                        splitLine: {show: false}
                    },
                    yAxis: {
                        type: 'value',
                        min: 0,
                        max: chartInfo.yAxisRangeMax,
                        splitNumber: 5,
                        axisLine: {show: false},
                        axisTick: {show: false},
                        axisLabel: {
                            color: '#fff',
                            fontSize: 12,
                            margin: 10
                        },
                        splitLine: {
                            show: true,
                            lineStyle: {
                                color: '#fff',
                                opacity: 0.25,
                                type: 'solid'
                            }
                        }
                    },
                    series: [
                        // 첫 번째 면적그래프 (분석 완료)
                        {
                            type: 'line',
                            // data: data1,
                            smooth: true,
                            symbol: 'none',
                            lineStyle: {width: 0},
                            itemStyle: {color: '#d600b8'},
                            areaStyle: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                    {offset: 0, color: '#cf7ac8'}, // #29b0ea
                                    {offset: 1, color: '#48368a'} // #48368a
                                ]),
                                opacity: 0.9
                            }
                        },
                        // 첫 번째 그래프 마커 (분석 완료, 보라색)
                        {
                            type: 'scatter',
                            // data: markerData1,
                            tooltip: {show: false},
                            symbolSize: 12,
                            itemStyle: {
                                color: '#d600b8',
                                borderColor: '#2e4068',
                                borderWidth: 2
                            },
                            z: 100
                        },
                        // 두 번째 면적그래프 (분석 요청)
                        {
                            type: 'line',
                            // data: data2,
                            smooth: true,
                            symbol: 'none',
                            lineStyle: {width: 0},
                            itemStyle: {color: '#ddd'},
                            areaStyle: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                    {offset: 0, color: '#69acf0'},
                                    {offset: 1, color: '#2d3945'}
                                ]),
                                opacity: 0.6
                            }
                        },
                        // 두 번째 그래프 마커 (분석 요청, 흰색)
                        {
                            type: 'scatter',
                            // data: markerData2,
                            tooltip: {show: false},
                            symbolSize: 12,
                            itemStyle: {
                                color: '#fff',
                                borderColor: '#2e4068',
                                borderWidth: 2
                            },
                            z: 10
                        }
                    ]
                };

                lineChart['realtimeAnalysis'].setOption(option);
            }

            function updateLineChart() {
                const realtimeAnalysisStatus = lineChartInfo.realtimeAnalysisStatus;
                const requestCountArray = [];
                const completeCountArray = [];

                let lastAnalysisCompleteDateTimeFlag = true;

                for (let i = 0; i < realtimeAnalysisStatus.xAxisSeriesMaxCount; i++) {
                    // 29분 전부터 현재까지 1분 간격으로 생성
                    const date = dayjs()
                        .subtract(29 - i, 'minute')
                        .toDate();
                    const dateKey = dayjs(date).format('YYYYMMDDHHmm');
                    const requestCount = realtimeAnalysisStatus.requestCountInfo[dateKey] || 0;
                    const completeCount = lastAnalysisCompleteDateTimeFlag ? realtimeAnalysisStatus.completeCountInfo[dateKey] || 0 : null;

                    if (!realtimeAnalysisStatus.lastAnalysisCompleteDateTimeStr || realtimeAnalysisStatus.lastAnalysisCompleteDateTimeStr < dateKey) {
                        // 분석완료 차트는 실제 분석 완료된 일시(dateKey) 보다 한칸 더 찍는다(라인차트 곡선을 맞추기 위해)
                        lastAnalysisCompleteDateTimeFlag = false;
                    }

                    const maxValue = Math.max(requestCount, completeCount || 0);
                    if (maxValue >= realtimeAnalysisStatus.yAxisRangeMax) {
                        // 기존 최대값보다 크면 10의 배수로 올림
                        realtimeAnalysisStatus.yAxisRangeMax = Math.ceil((maxValue + 10) / 10) * 10;
                    }

                    // 전체 분석 요청 데이터는 무조건 넣는다.
                    requestCountArray.push([date, requestCount]);

                    if ((completeCount || completeCount === 0) && !isNaN(completeCount)) {
                        // 분석 완료 데이터는 값이 있을 때만 넣는다.
                        completeCountArray.push([date, completeCount]);
                    }
                }

                // 마커 인덱스 (마지막 값)
                const marker1Index = completeCountArray.length - 1;
                const marker2Index = requestCountArray.length - 1;

                // 마커 데이터 생성 (마지막 값만 표시)
                const markerData1 = Array(completeCountArray.length).fill(null);
                markerData1[marker1Index] = completeCountArray[marker1Index];
                const markerData2 = Array(requestCountArray.length).fill(null);
                markerData2[marker2Index] = requestCountArray[marker2Index];

                const updateSeries = {
                    yAxis: {
                        max: realtimeAnalysisStatus.yAxisRangeMax
                    },
                    series: [
                        // 첫 번째 면적그래프
                        {
                            data: completeCountArray
                        },
                        // 첫 번째 그래프 마커 (보라색)
                        {
                            data: markerData1
                        },
                        // 두 번째 면적그래프
                        {
                            data: requestCountArray
                        },
                        // 두 번째 그래프 마커 (흰색)
                        {
                            data: markerData2
                        }
                    ]
                };

                lineChart['realtimeAnalysis'].setOption(updateSeries, false); // false로 설정하여 기존 값은 유지
            }

            function initPieChart() {
                const pieChartDom = document.getElementById('transmission-channel-pieChart');
                pieChart['transmissionChannel'] = echarts.init(pieChartDom);

                // 차트가 컨테이너에 꽉 차게, 라벨이 잘 보이도록 옵션 조정
                // 최초에는 라벨 위치를 inside로 초기화, 실제 데이터 반영은 updatePieChart에서 처리
                // radius 값을 변수로 분리하여 관리
                window.transmissionPieRadius = ['25%', '94%'];
                pieChart['transmissionChannel'].setOption({
                    series: [
                        {
                            type: 'pie',
                            radius: window.transmissionPieRadius,
                            avoidLabelOverlap: false,
                            itemStyle: {
                                borderColor: '#fff',
                                borderWidth: 2
                            },
                            label: {
                                show: true,
                                position: 'inside',
                                formatter: '{b}\n{c}%',
                                fontSize: 10,
                                color: '#fff',
                                overflow: 'truncate',
                                alignTo: 'none',
                                lineHeight: 16
                            },
                            labelLine: {
                                show: true,
                                length: 18,
                                length2: 10,
                                smooth: true
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    fontSize: 14,
                                    fontWeight: 'bold',
                                    color: '#ffd10a'
                                }
                            },
                            data: [
                                {name: 'FTP/SSH', value: 5.6},
                                {name: '메일/클라우드', value: 1},
                                {name: '메신저', value: 0.8},
                                {name: '프린트', value: 0.5},
                                {name: 'USB', value: 3.8}
                            ]
                        }
                    ]
                });

                // 반응형 리사이즈
                window.addEventListener('resize', function () {
                    pieChart['transmissionChannel'].resize();
                });

                // updatePieChart 함수도 data만 갱신하도록 유지
                updatePieChart([
                    {name: 'FTP/SSH', value: 5.6},
                    {name: '메일/클라우드', value: 1},
                    {name: '메신저', value: 0.8},
                    {name: '프린트', value: 0.5},
                    {name: 'USB', value: 3.8}
                ]);
            }

            function updatePieChart(datas) {
                // radius(반지름) 크기에 따라 라벨 위치 동적 결정
                // window.transmissionPieRadius의 두 번째 값(예: '60%')을 기준으로 판단
                let outerRadius = 60; // 기본값
                if (window.transmissionPieRadius && window.transmissionPieRadius[1]) {
                    const rStr = window.transmissionPieRadius[1];
                    if (typeof rStr === 'string' && rStr.endsWith('%')) {
                        outerRadius = parseInt(rStr.replace('%', ''), 10);
                    } else if (typeof rStr === 'number') {
                        outerRadius = rStr;
                    }
                }
                const labelPosition = outerRadius <= 45 ? 'outside' : 'inside';
                pieChart['transmissionChannel'].setOption(
                    {
                        series: [
                            {
                                radius: window.transmissionPieRadius,
                                data: datas,
                                label: {
                                    position: labelPosition
                                }
                            }
                        ]
                    },
                    false
                ); // false로 설정하여 기존 값은 유지
            }

            function updateFileDetectionInfo() {
                document.querySelector('.detection-file-size').textContent = (fileDetectionInfo.fileSize / 1024).toFixed(1).toLocaleString('ko-KR');
                document.querySelector('.detection-file-count').textContent = fileDetectionInfo.fileCount.toLocaleString('ko-KR');
            }

            // eslint-disable-next-line no-unused-vars
            function downloadReport() {
                S2Util.fetch(
                    '/analysis/download-report',
                    {
                        method: 'GET',
                        responseType: 'blob'
                    },
                    function () {
                        S2Util.showToast('다운로드 성공하였습니다.');
                    }
                );
            }
        </script>
    </th:block>
    <th:block layout:fragment="bodyFragment">
        <div class="main-contents-contents">
            <div class="wrap-top">
                <span class="main-title menu1">종합 대시보드</span>
                <span class="sub-title">기관 전체 보안 현황</span>
            </div>
            <div class="wrap-contents">
                <div class="top">
                    <div class="summary">
                        <div class="info inspection"><b>점검</b> (3/12)</div>
                        <div class="info warning"><b>경고</b> (1/5)</div>
                    </div>
                    <div class="flex-sty01">
                        <div class="arrow-left"></div>
                        <div class="data-date">
                            <div class="date targetDate">0000년 00월 00일</div>
                            <div class="icon-today">TODAY</div>
                        </div>
                        <div class="arrow-right"></div>
                    </div>
                    <div class="button-wrap-po-a">
                        <button class="btn-sty-02 btn-download" onclick="downloadReport();">보고서 다운로드</button>
                    </div>
                </div>
                <div class="contents">
                    <div class="status-card">
                        <div class="card card1">
                            <div class="text">
                                <span class="card-title">분석</span>
                                <span class="card-desc">전체 데이터 분석 수</span>
                            </div>
                            <div id="doughnutChart1" class="graph"></div>
                        </div>
                        <div class="card card2">
                            <div class="text">
                                <span class="card-title">탐지</span>
                                <span class="card-desc">민감정보 탐지 횟수</span>
                            </div>
                            <div id="doughnutChart2" class="graph"></div>
                        </div>
                        <div class="card card3">
                            <div class="text">
                                <span class="card-title">마스킹</span>
                                <span class="card-desc">비식별 처리된 정보 수</span>
                            </div>
                            <div id="doughnutChart3" class="graph"></div>
                        </div>
                        <div class="card card4">
                            <div class="text">
                                <span class="card-title">언마스킹</span>
                                <span class="card-desc">복호화된 정보 횟수</span>
                            </div>
                            <div id="doughnutChart4" class="graph"></div>
                        </div>
                    </div>
                    <div class="status-box">
                        <div class="box box1">
                            <!-- 국내를 내부로 임시 변경(!!s2!!) -->
                            <div class="box-top">내부 접속자 탐지 현황</div>
                            <div class="box-contents domestic-users koreaDetectionStatus">
                                <div id="semicircleChart1" class="graph"></div>
                                <div class="data-wrap">
                                    <div class="data data1">
                                        <div class="data-title">낮음</div>
                                        <div class="data-contents">
                                            <div><span class="low-count">0</span><span> 건</span></div>
                                        </div>
                                    </div>
                                    <div class="data data2">
                                        <div class="data-title">보통</div>
                                        <div class="data-contents">
                                            <div><span class="mid-count">0</span><span> 건</span></div>
                                        </div>
                                    </div>
                                    <div class="data data3">
                                        <div class="data-title">위험</div>
                                        <div class="data-contents">
                                            <div><span class="high-count">0</span><span> 건</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box2">
                            <!-- 해외를 외부로 임시 변경(!!s2!!)
                        <div class="box-top">외부 접속자 탐지 현황</div>
                        -->
                            <div class="box-top">첨부 파일 외부 전송 현황</div>
                            <div class="box-contents overseas-users overseasDetectionStatus">
                                <div id="semicircleChart2" class="graph"></div>
                                <div class="data-wrap">
                                    <div class="data data1 type2">
                                        <div class="data-title">전송된 파일 수</div>
                                        <div class="data-contents">
                                            <div><span class="low-count file-count"></span><span> 건</span></div>
                                        </div>
                                    </div>
                                    <div class="data data2 type2">
                                        <div class="data-title">전송된 파일 용량</div>
                                        <div class="data-contents">
                                            <div><span class="mid-count file-size"></span><span> KB</span></div>
                                        </div>
                                    </div>
                                    <div class="data data3">
                                        <div class="data-title">차단된 파일</div>
                                        <div class="data-contents">
                                            <div><span class="high-count blocked-count"></span><span> 건</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="status-box2">
                        <div class="box box1">
                            <div class="box-top">실시간 분석 현황</div>
                            <div class="box-contents">
                                <div id="lineChart" class="graph"></div>
                            </div>
                        </div>
                        <div class="box box2">
                            <div class="box-box box-box1 column-box">
                                <div class="column-box-inner inner-box1">
                                    <div class="box-top">LLM 분석 현황</div>
                                    <div class="row-box">
                                        <div class="row-box-inner llm-analysis-size">
                                            <div class="row-box-inner-wrap">
                                                <div class="text inner-title-box">
                                                    <div class="card-title">LLM이 분석한 용량</div>
                                                    <div class="card-desc">민감정보 분석한 총 파일 용량</div>
                                                </div>
                                                <div class="text-content">
                                                    <div><span class="file-count detection-file-size">0</span> <span class="num-item">KB</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-border"></div>
                                        <div class="row-box-inner llm-analysis-count">
                                            <div class="row-box-inner-wrap">
                                                <div class="text inner-title-box">
                                                    <div class="card-title">LLM이 분석한 파일 수</div>
                                                    <div class="card-desc">민감정보 분석한 총 파일 개수</div>
                                                </div>
                                                <div class="text-content">
                                                    <div><span class="file-count detection-file-count">0</span> <span class="num-item">건</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-box-inner inner-box2">
                                    <div class="box-top">유출 위험도 분석</div>
                                    <div class="row-box">
                                        <div class="row-box-inner normal">
                                            <div class="title">정상</div>
                                            <div class="content"><span>134</span>건</div>
                                        </div>
                                        <div class="row-box-inner inspect">
                                            <div class="title">점검</div>
                                            <div class="content"><span>12</span>건</div>
                                        </div>
                                        <div class="row-box-inner warning">
                                            <div class="title">경고</div>
                                            <div class="content"><span>5</span>건</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-box box-box2 transmission-status">
                                <div class="box-top">전송 채널 현황</div>
                                <div id="transmission-channel-pieChart" class="graph"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>
