<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.placelink.seek.dashboard.service.DashboardMapper">

	<select id="selectAnalysisCount" parameterType="schAnalysisStatisticsVO" resultType="AnalysisStatisticsVO">
        /** selectAnalysisCount : 전체 데이터 분석 수를 조회한다. */
        SELECT
            COUNT(1) AS TOTAL_ANALYSIS_COUNT,
            COALESCE(SUM(CASE WHEN ANALYSIS_STATUS_CCD = 'COMPLETE' THEN 1 ELSE 0 END), 0) AS ANALYSIS_COUNT
        FROM SEEK_ANALYSIS
        <where>
            <choose>
                <when test='schBeginDe neq null and schBeginDe neq ""'>
                    AND TO_CHAR(ANALYSIS_START_DT, 'YYYYMMDD') = TO_CHAR(#{schBeginDe}::DATE, 'YYYYMMDD')
                </when>
                <otherwise>
                    AND TO_CHAR(ANALYSIS_START_DT, 'YYYYMMDD') = TO_CHAR(NOW(), 'YYYYMMDD')
                </otherwise>
            </choose>
        </where>
    </select>

	<select id="selectAnalysisResultCount" parameterType="schAnalysisStatisticsVO" resultType="AnalysisStatisticsVO">
        /** selectAnalysisResultCount: 민감정보 탐지 횟수를 조회한다. */
        SELECT
            COUNT(1) AS TOTAL_DETECTION_COUNT,
            COALESCE(SUM(CASE WHEN sar.TOTAL_DETECTION_COUNT > 0 THEN 1 ELSE 0 END), 0) AS DETECTION_COUNT
        FROM SEEK_ANALYSIS sa
            LEFT JOIN SEEK_ANALYSIS_RESULT sar
            ON sa.ANALYSIS_RESULT_ID = sar.ANALYSIS_RESULT_ID
        WHERE sa.analysis_status_ccd = 'COMPLETE'
        <choose>
            <when test='schBeginDe neq null and schBeginDe neq ""'>
                AND TO_CHAR(sa.ANALYSIS_END_DT, 'YYYYMMDD') = TO_CHAR(#{schBeginDe}::DATE, 'YYYYMMDD')
            </when>
            <otherwise>
                AND TO_CHAR(sa.ANALYSIS_END_DT, 'YYYYMMDD') = TO_CHAR(NOW(), 'YYYYMMDD')
            </otherwise>
        </choose>
    </select>

    <select id="selectDetectionStatistics" parameterType="schAnalysisStatisticsVO" resultType="AnalysisStatisticsVO">
        /** selectDetectionStatistics : 탐지 현황을 조회한다. */
        SELECT
            COALESCE(SUM(CASE WHEN sad.DETECTION_TYPE_CCD = 'HIGH' THEN sad.DETECTION_COUNT ELSE 0 END), 0) AS HIGH_COUNT,
            COALESCE(SUM(CASE WHEN sad.DETECTION_TYPE_CCD = 'MID' THEN sad.DETECTION_COUNT ELSE 0 END), 0) AS MID_COUNT,
            COALESCE(SUM(CASE WHEN sad.DETECTION_TYPE_CCD = 'LOW' THEN sad.DETECTION_COUNT ELSE 0 END), 0) AS LOW_COUNT
        FROM SEEK_ANALYSIS sa
            LEFT JOIN SEEK_ANALYSIS_RESULT sar
            ON sa.ANALYSIS_RESULT_ID = sar.ANALYSIS_RESULT_ID
            LEFT JOIN SEEK_ANALYSIS_DETECTIONS sad
            ON sar.ANALYSIS_RESULT_ID = sad.ANALYSIS_RESULT_ID
        WHERE sa.analysis_status_ccd = 'COMPLETE'
        <choose>
            <when test='schBeginDe neq null and schBeginDe neq ""'>
                AND TO_CHAR(sa.ANALYSIS_END_DT, 'YYYYMMDD') = TO_CHAR(#{schBeginDe}::DATE, 'YYYYMMDD')
            </when>
            <otherwise>
                AND TO_CHAR(sa.ANALYSIS_END_DT, 'YYYYMMDD') = TO_CHAR(NOW(), 'YYYYMMDD')
            </otherwise>
        </choose>
    </select>

</mapper>
